flows.json
[{"id":"80e608e8205f5693","type":"tab","label":"RainPoint SA","disabled":false,"info":"","env":[]},{"id":"5906ea1feeb41aef","type":"inject","z":"80e608e8205f5693","name":"Credentials","props":[{"p":"areaCode","v":"27","vt":"str"},{"p":"phoneOrEmail","v":"","vt":"str"},{"p":"payload"},{"p":"count","v":"-1","vt":"num"},{"p":"hubcount","v":"-1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":560,"wires":[["1df04570a3b4c6e3"]]},{"id":"36a17af5ee389c89","type":"http request","z":"80e608e8205f5693","name":"Hamgar Login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com/auth/basic/app/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"}],"x":640,"y":700,"wires":[["fe5a4a102976d4c8","98c81724b8bec83c"]]},{"id":"76a51f4e9bfeb736","type":"http request","z":"80e608e8205f5693","name":"Hamgar Get Home","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com:1443/app/member/appHome/list","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":650,"y":820,"wires":[["558f0a3297ce7608","32c9e0d5ea247222"]]},{"id":"ad79c08e6d90a489","type":"http request","z":"80e608e8205f5693","name":"Hamgar Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":640,"y":940,"wires":[["e1aefa89d3dda15c"]]},{"id":"fe5a4a102976d4c8","type":"change","z":"80e608e8205f5693","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.data.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["76a51f4e9bfeb736"]]},{"id":"9227ccf69c004f11","type":"http request","z":"80e608e8205f5693","name":"Hamgar Get Device Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":680,"y":1120,"wires":[["2e98bb1a0432103c"]]},{"id":"a2e3c44bf20738c8","type":"debug","z":"80e608e8205f5693","name":"Home Hubs & Subs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"32c9e0d5ea247222","type":"function","z":"80e608e8205f5693","name":"function 9","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceByHid?hid=\" + msg.payload.data[0].hid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":880,"wires":[["ad79c08e6d90a489"]]},{"id":"9431fc8a24cfdb45","type":"function","z":"80e608e8205f5693","name":"function 10","func":"msg.hubcount = msg.hubcount + 1\nmsg.linkedhubs = msg.devices.data.length - 1\nmsg.linkeddevices = msg.devices.data[msg.hubcount].subDevices.length -1;\nmsg.url = \"https://region3.homgarus.com/app/device/getDeviceStatus?mid=\" + msg.devices.data[msg.hubcount].mid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1060,"wires":[["fda1960bdbf41077","9227ccf69c004f11"]]},{"id":"e1aefa89d3dda15c","type":"change","z":"80e608e8205f5693","name":"Devices","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["9431fc8a24cfdb45","a2e3c44bf20738c8"]]},{"id":"cb5f6ebfb890c0f2","type":"change","z":"80e608e8205f5693","name":"","rules":[{"t":"set","p":"sensorstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1240,"wires":[["3eb170a65b1ecae8","bbe89da6da4d9880"]]},{"id":"3eb170a65b1ecae8","type":"debug","z":"80e608e8205f5693","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorstatus","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1240,"wires":[]},{"id":"c8206771dd1647ab","type":"function","z":"80e608e8205f5693","name":"function 11","func":"msg.sensormodel = msg.devices.data[msg.hubcount].subDevices[msg.count].model\nmsg.sensordid = msg.devices.data[msg.hubcount].subDevices[msg.count].did\nmsg.sensorname = msg.devices.data[msg.hubcount].subDevices[msg.count].name\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1360,"wires":[["0945cf12c72c3ab9","f223be309239cbcd","92fc6d580991ea6b","fc84a8f50f1fdda5"]]},{"id":"fc84a8f50f1fdda5","type":"switch","z":"80e608e8205f5693","name":"","property":"sensormodel","propertyType":"msg","rules":[{"t":"eq","v":"HCS021FRF","vt":"str"},{"t":"eq","v":"HCS012ARF","vt":"str"},{"t":"eq","v":"HCS008FRF","vt":"str"},{"t":"eq","v":"HCS0528ARF","vt":"str"},{"t":"eq","v":"HCS014ARF","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":1230,"y":1100,"wires":[["92569b6a2833ee61"],["b4065b3766a77a80"],["f25722371ff82ce4"],["d209b5af75823357"],["524955f18d25c3eb"],["2f1ff31bfa41614f"]]},{"id":"92569b6a2833ee61","type":"function","z":"80e608e8205f5693","name":"Soil Moisture","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = (outputArray[1].replace(\"G=\", \"\"))\nmsg.soilmoisture = replacedString;\nconst inputString2 = msg.soilmoisture;\nconst outputArray2 = inputString2.split(',');\nmsg.soilmoisture = outputArray2;\nmsg.soilmoisture[0] = parseFloat(((((parseFloat(msg.soilmoisture[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.soilmoisture[1] = parseFloat(msg.soilmoisture[1])\nmsg.soilmoisture[2] = parseFloat(msg.soilmoisture[2])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":260,"wires":[["2f1ff31bfa41614f","a6efd4cfa180e0c5","5410aef0f091453c","d3e7f6b0ea531fbd","2440e7bd0f9bceb2","66af0ed3bf85cfbb","37f07861a462bc8e"]]},{"id":"b4065b3766a77a80","type":"function","z":"80e608e8205f5693","name":"Rain Gauge","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nmsg.raingauge = outputArray;\nconst inputString2 = msg.raingauge[1];\nconst replacedString = ((((inputString2.replace(\"R=\", \"\")).replace(\"(\", \",\")).replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\");\nconst outputArray2 = replacedString.split(',');\nmsg.raingauge = outputArray2;\nmsg.raingauge[0] = parseFloat(msg.raingauge[0]) / 10;\nmsg.raingauge[1] = parseFloat(msg.raingauge[1]) / 10;\nmsg.raingauge[2] = parseFloat(msg.raingauge[2]) / 10;\nmsg.raingauge[3] = parseFloat(msg.raingauge[3]) / 10;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":600,"wires":[["2f1ff31bfa41614f","5ea7db396e3c2955","75d9b04471ab22d0","0d5176c65611be6f","2088cc021eb2835d","8309e1a0c26126a7","99a34f7d93da029b","49e35144f0b504aa","a8a01dc5544abd96"]]},{"id":"0931cc1c44dcd27c","type":"digest","z":"80e608e8205f5693","name":"","algorithm":"MD5","x":330,"y":680,"wires":[["2507ef95e98f87f6"]]},{"id":"0cdfb914617789e4","type":"function","z":"80e608e8205f5693","name":"function 12","func":"const areaCode = msg.areaCode;\nconst phoneOrEmail = msg.phoneOrEmail;\nconst password = msg.password;\nconst deviceId = msg.deviceId;\nmsg.payload = { \"areaCode\": areaCode, \"phoneOrEmail\": phoneOrEmail, \"password\": password, \"deviceId\": deviceId }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["36a17af5ee389c89"]]},{"id":"33d54f7c7088c745","type":"random-string","z":"80e608e8205f5693","size":16,"characters":"0123456789ABCDEF","property":"payload","x":360,"y":800,"wires":[["793b0c63fed53705"]]},{"id":"2507ef95e98f87f6","type":"change","z":"80e608e8205f5693","name":"","rules":[{"t":"set","p":"password","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["33d54f7c7088c745"]]},{"id":"793b0c63fed53705","type":"change","z":"80e608e8205f5693","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["0cdfb914617789e4"]]},{"id":"558f0a3297ce7608","type":"debug","z":"80e608e8205f5693","name":"Home Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":820,"wires":[]},{"id":"8992b3f5059b63b5","type":"debug","z":"80e608e8205f5693","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"2e98bb1a0432103c","type":"function","z":"80e608e8205f5693","name":"function 16","func":"// Sort function to sort objects by id\nmsg.payload.data.subDeviceStatus.sort((a, b) => {\n    if (a.id < b.id) return -1;\n    if (a.id > b.id) return 1;\n    return 0;\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1180,"wires":[["8992b3f5059b63b5","cb5f6ebfb890c0f2"]]},{"id":"98c81724b8bec83c","type":"debug","z":"80e608e8205f5693","name":"Login Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":700,"wires":[]},{"id":"0945cf12c72c3ab9","type":"debug","z":"80e608e8205f5693","name":"Sensor Model","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensormodel","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1340,"wires":[]},{"id":"f223be309239cbcd","type":"debug","z":"80e608e8205f5693","name":"Sensor ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensordid","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1380,"wires":[]},{"id":"27ce5c051288c231","type":"debug","z":"80e608e8205f5693","name":"debug 42","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"soilmoisture","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":80,"wires":[]},{"id":"524955f18d25c3eb","type":"function","z":"80e608e8205f5693","name":"Outdoor Temperature","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = (((outputArray[1].replace(\"(\", \",\").replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.outdoortemp = replacedString;\nconst inputString2 = msg.outdoortemp;\nconst replacedString2 = (((inputString2.replace(\"(\", \",\").replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nconst outputArray2 = replacedString2.split(',');\nmsg.outdoortemp = outputArray2\nmsg.outdoortemp[0] = parseFloat(((((parseFloat(msg.outdoortemp[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[1] = parseFloat(((((parseFloat(msg.outdoortemp[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[2] = parseFloat(((((parseFloat(msg.outdoortemp[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[4] = parseFloat(msg.outdoortemp[4])\nmsg.outdoortemp[5] = parseFloat(msg.outdoortemp[5])\nmsg.outdoortemp[6] = parseFloat(msg.outdoortemp[6])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1620,"wires":[["2f1ff31bfa41614f","3e922dc4986091cd","66e08f3737fa6a14","ac651da36837d9e1","2696876c7c8ff921","112cac8733d67adc","4417904970e3b04b","8f777dad47ba4d80","aace802bcf5ae730","82a7849b6361e261","d8f46b5cfd1f7de5","b11bd64b316f1fd8","be96de9ae0963383"]]},{"id":"d209b5af75823357","type":"function","z":"80e608e8205f5693","name":"Pool","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = ((((outputArray[1].replace(\"(\", \",\")).replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.pool = replacedString;\nconst inputString2 = msg.pool;\nconst outputArray2 = inputString2.split(',');\nmsg.pool = outputArray2;\nmsg.pool[0] = parseFloat(((((parseFloat(msg.pool[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[1] = parseFloat(((((parseFloat(msg.pool[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[2] = parseFloat(((((parseFloat(msg.pool[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":2000,"wires":[["2f1ff31bfa41614f","f8ac1db91d32d64a","8ba7b52be76a1e6e","5d3c3b76e44d401a","c8d9ad744a652ad2","e3cf2db95f1b513b","3230bf7f140ab115"]]},{"id":"f25722371ff82ce4","type":"function","z":"80e608e8205f5693","name":"Flowmeter","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nmsg.flowmeter = outputArray[1]\nconst inputString2 = msg.flowmeter;\nconst outputArray2 = inputString2.split(',');\nmsg.flowmeter = outputArray2;\nmsg.flowmeter[1] = parseFloat((((parseFloat(msg.flowmeter[1])) / 10)).toFixed(2))\nmsg.flowmeter[2] = parseFloat((((parseFloat(msg.flowmeter[2])) / 10)).toFixed(2))\nmsg.flowmeter[3] = parseFloat((((parseFloat(msg.flowmeter[3])))).toFixed(2))\nmsg.flowmeter[4] = parseFloat((((parseFloat(msg.flowmeter[4])) / 10)).toFixed(2))\nmsg.flowmeter[5] = parseFloat((((parseFloat(msg.flowmeter[5])))).toFixed(2))\nmsg.flowmeter[6] = parseFloat((((parseFloat(msg.flowmeter[6])) / 10)).toFixed(2))\nmsg.flowmeter[7] = parseFloat((((parseFloat(msg.flowmeter[7])) / 10)).toFixed(2))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1100,"wires":[["d1825f363cb6163b","87db4f9c99f13cea","618e6c0e3796698d","b9c63f4fa444530c","833bba13159d2b30","9e49d6ccab38d788","c2ddbf36a833752b","75a151e605e3398e","6fd905cbfc2c8e8e","eceab48d00257047","c2b5e1dba09d8442","1c7c51b8a2047a5b","794d4630dec9c948","128d6eab89932e35","2f1ff31bfa41614f"]]},{"id":"2f1ff31bfa41614f","type":"delay","z":"80e608e8205f5693","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2660,"y":240,"wires":[["68bd6f025c1b2eca"]]},{"id":"a6efd4cfa180e0c5","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Temperature","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":220,"wires":[["27ce5c051288c231","bbb1514bc708632b"]]},{"id":"bbb1514bc708632b","type":"mqtt out","z":"80e608e8205f5693","name":"MQTT Out Discovery","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2520,"y":1140,"wires":[]},{"id":"5410aef0f091453c","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.soilmoisture[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":260,"wires":[["f89ac8e185ac3c21"]]},{"id":"259315271a87c40e","type":"mqtt out","z":"80e608e8205f5693","name":"MQTT Out State","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2700,"y":1520,"wires":[]},{"id":"d3e7f6b0ea531fbd","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":300,"wires":[["bbb1514bc708632b"]]},{"id":"2440e7bd0f9bceb2","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.soilmoisture[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":340,"wires":[["f89ac8e185ac3c21"]]},{"id":"f89ac8e185ac3c21","type":"delay","z":"80e608e8205f5693","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490,"y":1520,"wires":[["259315271a87c40e"]]},{"id":"66af0ed3bf85cfbb","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Lux","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Lux\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\",\n    \"unit_of_measurement\": \"lx\",\n    \"value_template\": \"{{ value_json.lux }}\",\n    \"device_class\": \"illuminance\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":380,"wires":[["bbb1514bc708632b"]]},{"id":"37f07861a462bc8e","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    lux: msg.soilmoisture[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":420,"wires":[["f89ac8e185ac3c21"]]},{"id":"3cda42383943b874","type":"debug","z":"80e608e8205f5693","name":"Count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1280,"wires":[]},{"id":"bbe89da6da4d9880","type":"function","z":"80e608e8205f5693","name":"function 17","func":"msg.count = msg.count + 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1300,"wires":[["3cda42383943b874","c8206771dd1647ab"]]},{"id":"5ea7db396e3c2955","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":480,"wires":[["bbb1514bc708632b"]]},{"id":"75d9b04471ab22d0","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":520,"wires":[["f89ac8e185ac3c21"]]},{"id":"0d5176c65611be6f","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - 1hr","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 1hr\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":560,"wires":[["bbb1514bc708632b"]]},{"id":"2088cc021eb2835d","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":600,"wires":[["f89ac8e185ac3c21"]]},{"id":"8309e1a0c26126a7","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - 24 Hours","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 24hrs\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":640,"wires":[["bbb1514bc708632b"]]},{"id":"99a34f7d93da029b","type":"function","z":"80e608e8205f5693","name":"State Update Payload - 24 Hours","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":680,"wires":[["f89ac8e185ac3c21"]]},{"id":"49e35144f0b504aa","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - 7 Days","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 7days\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":720,"wires":[["bbb1514bc708632b"]]},{"id":"a8a01dc5544abd96","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":760,"wires":[["f89ac8e185ac3c21"]]},{"id":"d1825f363cb6163b","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Real-Time","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/realtime/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Real-time\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/realtime/state\",\n    \"unit_of_measurement\": \"L/M\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":820,"wires":[["bbb1514bc708632b"]]},{"id":"87db4f9c99f13cea","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/realtime/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":860,"wires":[["f89ac8e185ac3c21"]]},{"id":"618e6c0e3796698d","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Current","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" current\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":900,"wires":[["bbb1514bc708632b"]]},{"id":"b9c63f4fa444530c","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Current","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":940,"wires":[["f89ac8e185ac3c21"]]},{"id":"833bba13159d2b30","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - CurrentDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":980,"wires":[["bbb1514bc708632b"]]},{"id":"c2ddbf36a833752b","type":"function","z":"80e608e8205f5693","name":"State Update Payload - CurrentDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[3]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1020,"wires":[["f89ac8e185ac3c21"]]},{"id":"9e49d6ccab38d788","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Last","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1060,"wires":[["bbb1514bc708632b"]]},{"id":"75a151e605e3398e","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Last","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[4]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1100,"wires":[["f89ac8e185ac3c21"]]},{"id":"6fd905cbfc2c8e8e","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - LastDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1140,"wires":[["bbb1514bc708632b"]]},{"id":"eceab48d00257047","type":"function","z":"80e608e8205f5693","name":"State Update Payload - LastDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[5]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1180,"wires":[["f89ac8e185ac3c21"]]},{"id":"1c7c51b8a2047a5b","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[6]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1260,"wires":[["f89ac8e185ac3c21"]]},{"id":"c2b5e1dba09d8442","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Total Today","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Today\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1220,"wires":[["bbb1514bc708632b"]]},{"id":"128d6eab89932e35","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[7]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1340,"wires":[["f89ac8e185ac3c21"]]},{"id":"794d4630dec9c948","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1300,"wires":[["bbb1514bc708632b"]]},{"id":"66e08f3737fa6a14","type":"function","z":"80e608e8205f5693","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1440,"wires":[["f89ac8e185ac3c21"]]},{"id":"3e922dc4986091cd","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1400,"wires":[["bbb1514bc708632b"]]},{"id":"2696876c7c8ff921","type":"function","z":"80e608e8205f5693","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1520,"wires":[["f89ac8e185ac3c21"]]},{"id":"ac651da36837d9e1","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1480,"wires":[["bbb1514bc708632b"]]},{"id":"4417904970e3b04b","type":"function","z":"80e608e8205f5693","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1600,"wires":[["f89ac8e185ac3c21"]]},{"id":"112cac8733d67adc","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1560,"wires":[["bbb1514bc708632b"]]},{"id":"8f777dad47ba4d80","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - CurrentHumidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1640,"wires":[["bbb1514bc708632b"]]},{"id":"aace802bcf5ae730","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[4]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1680,"wires":[["f89ac8e185ac3c21"]]},{"id":"82a7849b6361e261","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - High Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1720,"wires":[["bbb1514bc708632b"]]},{"id":"d8f46b5cfd1f7de5","type":"function","z":"80e608e8205f5693","name":"State Update Payload - High Humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[5]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1760,"wires":[["f89ac8e185ac3c21"]]},{"id":"b11bd64b316f1fd8","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - Low Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1800,"wires":[["bbb1514bc708632b"]]},{"id":"be96de9ae0963383","type":"function","z":"80e608e8205f5693","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[6]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1840,"wires":[["f89ac8e185ac3c21"]]},{"id":"8ba7b52be76a1e6e","type":"function","z":"80e608e8205f5693","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1940,"wires":[["f89ac8e185ac3c21"]]},{"id":"f8ac1db91d32d64a","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1900,"wires":[["bbb1514bc708632b"]]},{"id":"c8d9ad744a652ad2","type":"function","z":"80e608e8205f5693","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2020,"wires":[["f89ac8e185ac3c21"]]},{"id":"5d3c3b76e44d401a","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1980,"wires":[["bbb1514bc708632b"]]},{"id":"3230bf7f140ab115","type":"function","z":"80e608e8205f5693","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2100,"wires":[["f89ac8e185ac3c21"]]},{"id":"e3cf2db95f1b513b","type":"function","z":"80e608e8205f5693","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2060,"wires":[["bbb1514bc708632b"]]},{"id":"1df04570a3b4c6e3","type":"credentials","z":"80e608e8205f5693","name":"","props":[{"value":"areaCode","type":"msg"},{"value":"phoneOrEmail","type":"msg"},{"value":"payload","type":"msg"}],"x":350,"y":620,"wires":[["0931cc1c44dcd27c"]],"info":"Add the following details to  the credentials node:\r\n- msg.areaCode: Country dial code, i.e South Africa 27\r\n- msg.phoneOrEmail: Email address of linked account\r\n- msg.payload: Password"},{"id":"fda1960bdbf41077","type":"debug","z":"80e608e8205f5693","name":"Linked Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"linkeddevices","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1060,"wires":[]},{"id":"68bd6f025c1b2eca","type":"switch","z":"80e608e8205f5693","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"linkeddevices","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2690,"y":340,"wires":[["bbe89da6da4d9880"],["82834ae2ca1375bd"]]},{"id":"82834ae2ca1375bd","type":"switch","z":"80e608e8205f5693","name":"","property":"hubcount","propertyType":"msg","rules":[{"t":"lt","v":"linkedhubs","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":400,"wires":[["c5d39543f285c217"],[]]},{"id":"c5d39543f285c217","type":"function","z":"80e608e8205f5693","name":"function 19","func":"msg.count = - 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":800,"wires":[["9431fc8a24cfdb45"]]},{"id":"92fc6d580991ea6b","type":"debug","z":"80e608e8205f5693","name":"Sensor Name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorname","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1420,"wires":[]},{"id":"8a6b8e3c.09db6","type":"mqtt-broker","name":"MQTT Broker","broker":"10.0.0.50","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
