flows.json
[{"id":"19b3d2daff510fdf","type":"tab","label":"RainPoint SA","disabled":false,"info":"","env":[]},{"id":"cdb8a818e739713e","type":"inject","z":"19b3d2daff510fdf","name":"Credentials","props":[{"p":"areaCode","v":"","vt":"str"},{"p":"phoneOrEmail","v":"","vt":"str"},{"p":"payload"},{"p":"count","v":"-1","vt":"num"},{"p":"hubcount","v":"-1","vt":"num"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":560,"wires":[["fb9c9942ffc12e7f"]]},{"id":"ef732351420a6a5f","type":"http request","z":"19b3d2daff510fdf","name":"Hamgar Login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com/auth/basic/app/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"}],"x":640,"y":700,"wires":[["76435d4e3643dd7f","97e8076edfc9a9fc"]]},{"id":"65c6d41b8ba9ab5e","type":"http request","z":"19b3d2daff510fdf","name":"Hamgar Get Home","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com:1443/app/member/appHome/list","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":650,"y":820,"wires":[["e4571175b9c61fa1","c9dafc788e070999"]]},{"id":"3927b6c6593b812b","type":"http request","z":"19b3d2daff510fdf","name":"Hamgar Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":640,"y":940,"wires":[["705f6f53e019791a"]]},{"id":"76435d4e3643dd7f","type":"change","z":"19b3d2daff510fdf","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.data.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["65c6d41b8ba9ab5e"]]},{"id":"65de992f5fd52e0a","type":"http request","z":"19b3d2daff510fdf","name":"Hamgar Get Device Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":680,"y":1120,"wires":[["7c5b46edfd4b90da","417985e9675572b3"]]},{"id":"f392689ac27d81f0","type":"debug","z":"19b3d2daff510fdf","name":"Home Hubs & Subs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"c9dafc788e070999","type":"function","z":"19b3d2daff510fdf","name":"function 9","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceByHid?hid=\" + msg.payload.data[0].hid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":880,"wires":[["3927b6c6593b812b"]]},{"id":"9ec587f76cdd6a0f","type":"function","z":"19b3d2daff510fdf","name":"function 10","func":"msg.hubcount = msg.hubcount + 1\nmsg.linkedhubs = msg.devices.data.length - 1\nmsg.linkeddevices = msg.devices.data[msg.hubcount].subDevices.length -1;\nmsg.url = \"https://region3.homgarus.com/app/device/getDeviceStatus?mid=\" + msg.devices.data[msg.hubcount].mid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1060,"wires":[["34f201404b20bba5","65de992f5fd52e0a"]]},{"id":"705f6f53e019791a","type":"change","z":"19b3d2daff510fdf","name":"Devices","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["9ec587f76cdd6a0f","f392689ac27d81f0"]]},{"id":"57a588d686221c24","type":"change","z":"19b3d2daff510fdf","name":"","rules":[{"t":"set","p":"sensorstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1240,"wires":[["489c2ae381fab7d4","4ab813057b281462"]]},{"id":"489c2ae381fab7d4","type":"debug","z":"19b3d2daff510fdf","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorstatus","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1240,"wires":[]},{"id":"9cce523e0c071e40","type":"function","z":"19b3d2daff510fdf","name":"function 11","func":"msg.sensormodel = msg.devices.data[msg.hubcount].subDevices[msg.count].model\nmsg.sensordid = msg.devices.data[msg.hubcount].subDevices[msg.count].did\nmsg.sensorname = msg.devices.data[msg.hubcount].subDevices[msg.count].name\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1360,"wires":[["4b50f8b54ec772a7","3f60237fd77e5e1e","252f9d786cf2f7e7","878228e3d7fce935"]]},{"id":"8ed7f74a6aa806bf","type":"function","z":"19b3d2daff510fdf","name":"Soil Moisture","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(29, 31); // chars 27-28\nconst part2 = s.slice(27, 29); // chars 25-26\nconst part3 = s.slice(25, 26); // chars 23-24\nconst part4 = s.slice(21, 23); // chars 19-21\nconst part5 = s.slice(17, 19); // chars 15-17\nconst part6 = s.slice(15, 17); // chars 13-15\n\nmsg.soiltemp = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.soilmoisture = parseInt(part4, 16);\nmsg.soillux = parseInt(part1 + part2 + part3, 16);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":260,"wires":[["ad8f0e084eb2b89d","edbe17bd6bc76ef3","9ac77af807c6cb69","35ac42c35d525fbf","de13840a5e4eee4c","396b93e38f47a72b","dd76a6631418f104","f011de61ba0fabd0"]]},{"id":"c1cb64f7e7cdf1e2","type":"function","z":"19b3d2daff510fdf","name":"Rain Gauge","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\nconst part2 = s.slice(13, 15); // chars 13-15\nconst part3 = s.slice(23, 25); // chars 23-25\nconst part4 = s.slice(21, 23); // chars 21-23\nconst part5 = s.slice(31, 33); // chars 31-33\nconst part6 = s.slice(29, 31); // chars 29-31\nconst part7 = s.slice(41, 43); // chars 41-43\nconst part8 = s.slice(39, 41); // chars 39-41\n\nmsg.rainhr = parseInt(part1 + part2, 16) / 10;\nmsg.rainday = parseInt(part3 + part4, 16) / 10;\nmsg.rainweek = parseInt(part5 + part6, 16) / 10;\nmsg.raintotal = parseInt(part7 + part8, 16) / 10;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":600,"wires":[["ad8f0e084eb2b89d","e7216c713954fa22","6307a8836424b9a4","7188be5584012a19","92a82eb14f0987d3","09c4700c2a08c75d","7848b538eca7476b","be7e66dd463c07ec","c620efa8a8b5ebf4"]]},{"id":"68f05115ac6a74bb","type":"digest","z":"19b3d2daff510fdf","name":"","algorithm":"MD5","x":330,"y":680,"wires":[["c2dbfbf920e961a4"]]},{"id":"1b48f7b3f5127718","type":"function","z":"19b3d2daff510fdf","name":"function 12","func":"const areaCode = msg.areaCode;\nconst phoneOrEmail = msg.phoneOrEmail;\nconst password = msg.password;\nconst deviceId = msg.deviceId;\nmsg.payload = { \"areaCode\": areaCode, \"phoneOrEmail\": phoneOrEmail, \"password\": password, \"deviceId\": deviceId }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["ef732351420a6a5f"]]},{"id":"bad434b464e2d213","type":"random-string","z":"19b3d2daff510fdf","size":16,"characters":"0123456789ABCDEF","property":"payload","x":360,"y":800,"wires":[["98bae5124318794a"]]},{"id":"c2dbfbf920e961a4","type":"change","z":"19b3d2daff510fdf","name":"","rules":[{"t":"set","p":"password","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["bad434b464e2d213"]]},{"id":"98bae5124318794a","type":"change","z":"19b3d2daff510fdf","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["1b48f7b3f5127718"]]},{"id":"e4571175b9c61fa1","type":"debug","z":"19b3d2daff510fdf","name":"Home Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":820,"wires":[]},{"id":"417985e9675572b3","type":"debug","z":"19b3d2daff510fdf","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"7c5b46edfd4b90da","type":"function","z":"19b3d2daff510fdf","name":"function 16","func":"// Sort function to sort objects by id\nmsg.payload.data.subDeviceStatus.sort((a, b) => {\n    if (a.id < b.id) return -1;\n    if (a.id > b.id) return 1;\n    return 0;\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1180,"wires":[["417985e9675572b3","57a588d686221c24"]]},{"id":"97e8076edfc9a9fc","type":"debug","z":"19b3d2daff510fdf","name":"Login Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":700,"wires":[]},{"id":"4b50f8b54ec772a7","type":"debug","z":"19b3d2daff510fdf","name":"Sensor Model","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensormodel","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1340,"wires":[]},{"id":"3f60237fd77e5e1e","type":"debug","z":"19b3d2daff510fdf","name":"Sensor ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensordid","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1380,"wires":[]},{"id":"f011de61ba0fabd0","type":"debug","z":"19b3d2daff510fdf","name":"debug 42","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"soiltemp","targetType":"msg","statusVal":"","statusType":"auto","x":2080,"y":80,"wires":[]},{"id":"301a020d38c8e42e","type":"function","z":"19b3d2daff510fdf","name":"Outdoor Temperature","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = (((outputArray[1].replace(\"(\", \",\").replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.outdoortemp = replacedString;\nconst inputString2 = msg.outdoortemp;\nconst replacedString2 = (((inputString2.replace(\"(\", \",\").replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nconst outputArray2 = replacedString2.split(',');\nmsg.outdoortemp = outputArray2\nmsg.outdoortemp[0] = parseFloat(((((parseFloat(msg.outdoortemp[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[1] = parseFloat(((((parseFloat(msg.outdoortemp[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[2] = parseFloat(((((parseFloat(msg.outdoortemp[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[4] = parseFloat(msg.outdoortemp[4])\nmsg.outdoortemp[5] = parseFloat(msg.outdoortemp[5])\nmsg.outdoortemp[6] = parseFloat(msg.outdoortemp[6])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":2200,"wires":[["ad8f0e084eb2b89d","3759eb7d982863c0","1de834d76a6d892f","fe9c3250bdbb11a4","8be81fbf3a382c36","8be8ce6098db07bf","eb5833c33109d855","93746e4269afccb4","ea87414caa8dbb54","c308810fe0400c14","d584e354b67ba814","c2088094f888cd49","463017249fe1f8b0"]]},{"id":"7607699c4bf9ff47","type":"function","z":"19b3d2daff510fdf","name":"Pool","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = ((((outputArray[1].replace(\"(\", \",\")).replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.pool = replacedString;\nconst inputString2 = msg.pool;\nconst outputArray2 = inputString2.split(',');\nmsg.pool = outputArray2;\nmsg.pool[0] = parseFloat(((((parseFloat(msg.pool[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[1] = parseFloat(((((parseFloat(msg.pool[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[2] = parseFloat(((((parseFloat(msg.pool[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":2580,"wires":[["ad8f0e084eb2b89d","bed90f7fd6a55655","b3d151d8c2d20c4d","115fc8a13ec5e193","71b72ec946822b07","34b7fb81cd105e3e","95d7ced764f4af41"]]},{"id":"556df00580662607","type":"function","z":"19b3d2daff510fdf","name":"Flowmeter","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(49, 51); // chars 49-51\nconst part2 = s.slice(47, 49); // chars 47-49\nconst part3 = s.slice(45, 47); // chars 45-47\nconst part4 = s.slice(59, 61); // chars 59-61\nconst part5 = s.slice(57, 59); // chars 57-59\nconst part6 = s.slice(55, 57); // chars 55-57\nconst part7 = s.slice(69, 71); // chars 69-71\nconst part8 = s.slice(67, 69); // chars 67-69\nconst part9 = s.slice(65, 67); // chars 65-67\nconst part10 = s.slice(81, 83); // chars 81-83\nconst part11 = s.slice(79, 81); // chars 79-81\nconst part12 = s.slice(77, 79); // chars 77-79\nconst part13 = s.slice(91, 93); // chars 91-93\nconst part14 = s.slice(89, 91); // chars 89-91\nconst part15 = s.slice(87, 89); // chars 87-89\nconst part16 = s.slice(103, 105); // chars 103-105\nconst part17 = s.slice(101, 103); // chars 101-103\nconst part18 = s.slice(99, 101); // chars 99-101\nconst part19 = s.slice(97, 99); // chars 97-99\n\n\nmsg.flowcurrentused = parseInt(part1 + part2 + part3, 16) / 10;\nmsg.flowcurrenduration = parseInt(part4 + part5 + part6, 16);\nmsg.flowlastused = parseInt(part7 + part8 + part9, 16) / 10;\nmsg.flowlastusedduration = parseInt(part10 + part11 + part12, 16);\nmsg.flowtotaltoday = parseInt(part13 + part14 + part15, 16) / 10;\nmsg.flowtotal = parseInt(part16 + part17 + part18 + part19, 16) / 10;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1100,"wires":[["df808f2ef55c5799","4298971421cf60d6","38757ade8cfc8cf2","b5e637767880664a","595112313d9ee5f0","4cf7781192d2a00b","df763f591d31f55c","c6f135d2bb0a9d41","4c6fa74a904b6d92","64d1fe01e079abca","b8ecf8953932df55","2dfa732319267a54","ad8f0e084eb2b89d"]]},{"id":"ad8f0e084eb2b89d","type":"delay","z":"19b3d2daff510fdf","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2660,"y":220,"wires":[["415444f603cc946a"]]},{"id":"edbe17bd6bc76ef3","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Temperature","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":220,"wires":[["e192eb1c9b2d7446"]]},{"id":"e192eb1c9b2d7446","type":"mqtt out","z":"19b3d2daff510fdf","name":"MQTT Out Discovery","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2520,"y":1140,"wires":[]},{"id":"9ac77af807c6cb69","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.soiltemp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":260,"wires":[["ada31cd7bdbf567f"]]},{"id":"55cd7160b93bd185","type":"mqtt out","z":"19b3d2daff510fdf","name":"MQTT Out State","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2700,"y":1520,"wires":[]},{"id":"35ac42c35d525fbf","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":300,"wires":[["e192eb1c9b2d7446"]]},{"id":"de13840a5e4eee4c","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.soilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":340,"wires":[["ada31cd7bdbf567f"]]},{"id":"ada31cd7bdbf567f","type":"delay","z":"19b3d2daff510fdf","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490,"y":1520,"wires":[["55cd7160b93bd185"]]},{"id":"396b93e38f47a72b","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Lux","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Lux\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\",\n    \"unit_of_measurement\": \"lx\",\n    \"value_template\": \"{{ value_json.lux }}\",\n    \"device_class\": \"illuminance\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":380,"wires":[["e192eb1c9b2d7446"]]},{"id":"dd76a6631418f104","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Lux","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    lux: msg.soillux\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":420,"wires":[["ada31cd7bdbf567f"]]},{"id":"a3c664716592b068","type":"debug","z":"19b3d2daff510fdf","name":"Count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1280,"wires":[]},{"id":"4ab813057b281462","type":"function","z":"19b3d2daff510fdf","name":"function 17","func":"msg.count = msg.count + 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1300,"wires":[["a3c664716592b068","9cce523e0c071e40"]]},{"id":"e7216c713954fa22","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":480,"wires":[["e192eb1c9b2d7446"]]},{"id":"6307a8836424b9a4","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.raintotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":520,"wires":[["ada31cd7bdbf567f"]]},{"id":"7188be5584012a19","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - 1hr","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 1hr\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":560,"wires":[["e192eb1c9b2d7446"]]},{"id":"92a82eb14f0987d3","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainhr\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":600,"wires":[["ada31cd7bdbf567f"]]},{"id":"09c4700c2a08c75d","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - 24 Hours","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 24hrs\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":640,"wires":[["e192eb1c9b2d7446"]]},{"id":"7848b538eca7476b","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - 24 Hours","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":680,"wires":[["ada31cd7bdbf567f"]]},{"id":"be7e66dd463c07ec","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - 7 Days","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 7days\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":720,"wires":[["e192eb1c9b2d7446"]]},{"id":"c620efa8a8b5ebf4","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - 7 Days","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainweek\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":760,"wires":[["ada31cd7bdbf567f"]]},{"id":"df808f2ef55c5799","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Current","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" current\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":900,"wires":[["e192eb1c9b2d7446"]]},{"id":"4298971421cf60d6","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Current","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrentused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":940,"wires":[["ada31cd7bdbf567f"]]},{"id":"38757ade8cfc8cf2","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - CurrentDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":980,"wires":[["e192eb1c9b2d7446"]]},{"id":"595112313d9ee5f0","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - CurrentDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrenduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1020,"wires":[["ada31cd7bdbf567f"]]},{"id":"b5e637767880664a","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Last","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1060,"wires":[["e192eb1c9b2d7446"]]},{"id":"4cf7781192d2a00b","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Last","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1100,"wires":[["ada31cd7bdbf567f"]]},{"id":"df763f591d31f55c","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - LastDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1140,"wires":[["e192eb1c9b2d7446"]]},{"id":"c6f135d2bb0a9d41","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - LastDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastusedduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1180,"wires":[["ada31cd7bdbf567f"]]},{"id":"64d1fe01e079abca","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotaltoday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1260,"wires":[["ada31cd7bdbf567f"]]},{"id":"4c6fa74a904b6d92","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Total Today","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Today\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1220,"wires":[["e192eb1c9b2d7446"]]},{"id":"2dfa732319267a54","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1340,"wires":[["ada31cd7bdbf567f"]]},{"id":"b8ecf8953932df55","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1300,"wires":[["e192eb1c9b2d7446"]]},{"id":"1de834d76a6d892f","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2020,"wires":[["ada31cd7bdbf567f"]]},{"id":"3759eb7d982863c0","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1980,"wires":[["e192eb1c9b2d7446"]]},{"id":"8be81fbf3a382c36","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2100,"wires":[["ada31cd7bdbf567f"]]},{"id":"fe9c3250bdbb11a4","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2060,"wires":[["e192eb1c9b2d7446"]]},{"id":"eb5833c33109d855","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2180,"wires":[["ada31cd7bdbf567f"]]},{"id":"8be8ce6098db07bf","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2140,"wires":[["e192eb1c9b2d7446"]]},{"id":"93746e4269afccb4","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - CurrentHumidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2220,"wires":[["e192eb1c9b2d7446"]]},{"id":"ea87414caa8dbb54","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[4]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":2260,"wires":[["ada31cd7bdbf567f"]]},{"id":"c308810fe0400c14","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - High Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2300,"wires":[["e192eb1c9b2d7446"]]},{"id":"d584e354b67ba814","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - High Humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[5]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2340,"wires":[["ada31cd7bdbf567f"]]},{"id":"c2088094f888cd49","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - Low Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2380,"wires":[["e192eb1c9b2d7446"]]},{"id":"463017249fe1f8b0","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[6]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":2420,"wires":[["ada31cd7bdbf567f"]]},{"id":"b3d151d8c2d20c4d","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2520,"wires":[["ada31cd7bdbf567f"]]},{"id":"bed90f7fd6a55655","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2480,"wires":[["e192eb1c9b2d7446"]]},{"id":"71b72ec946822b07","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2600,"wires":[["ada31cd7bdbf567f"]]},{"id":"115fc8a13ec5e193","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2560,"wires":[["e192eb1c9b2d7446"]]},{"id":"95d7ced764f4af41","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2680,"wires":[["ada31cd7bdbf567f"]]},{"id":"34b7fb81cd105e3e","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2640,"wires":[["e192eb1c9b2d7446"]]},{"id":"fb9c9942ffc12e7f","type":"credentials","z":"19b3d2daff510fdf","name":"","props":[{"value":"areaCode","type":"msg"},{"value":"phoneOrEmail","type":"msg"},{"value":"payload","type":"msg"}],"x":350,"y":620,"wires":[["68f05115ac6a74bb"]],"info":"Add the following details to  the credentials node:\r\n- msg.areaCode: Country dial code, i.e South Africa 27\r\n- msg.phoneOrEmail: Email address of linked account\r\n- msg.payload: Password"},{"id":"34f201404b20bba5","type":"debug","z":"19b3d2daff510fdf","name":"Linked Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"linkeddevices","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1060,"wires":[]},{"id":"415444f603cc946a","type":"switch","z":"19b3d2daff510fdf","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"linkeddevices","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2690,"y":340,"wires":[["4ab813057b281462"],["f6cdda3aa6c920ff"]]},{"id":"f6cdda3aa6c920ff","type":"switch","z":"19b3d2daff510fdf","name":"","property":"hubcount","propertyType":"msg","rules":[{"t":"lt","v":"linkedhubs","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":400,"wires":[["1c0dcec927ab1735"],[]]},{"id":"1c0dcec927ab1735","type":"function","z":"19b3d2daff510fdf","name":"function 19","func":"msg.count = - 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":800,"wires":[["9ec587f76cdd6a0f"]]},{"id":"252f9d786cf2f7e7","type":"debug","z":"19b3d2daff510fdf","name":"Sensor Name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorname","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1420,"wires":[]},{"id":"878228e3d7fce935","type":"switch","z":"19b3d2daff510fdf","name":"","property":"sensormodel","propertyType":"msg","rules":[{"t":"eq","v":"HCS021FRF","vt":"str"},{"t":"eq","v":"HCS012ARF","vt":"str"},{"t":"eq","v":"HCS008FRF","vt":"str"},{"t":"eq","v":"HCS0530THO","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1190,"y":1100,"wires":[["8ed7f74a6aa806bf"],["c1cb64f7e7cdf1e2"],["556df00580662607"],["caa820812438a3f3"],["1c0dcec927ab1735"]]},{"id":"caa820812438a3f3","type":"function","z":"19b3d2daff510fdf","name":"CO2","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 8-10\nconst part2 = s.slice(5, 7); // chars 6-8\nconst part3 = s.slice(53, 55); // chars 54-56\nconst part4 = s.slice(51, 53); // chars 52-54\nconst part5 = s.slice(57, 59); // chars 58-60\nconst part6 = s.slice(55, 57); // chars 56-58\nconst part7 = s.slice(35, 37); // chars 26-28\nconst part8 = s.slice(33, 35); // chars 24-26\nconst part9 = s.slice(39, 41); // chars 40-42\nconst part10 = s.slice(61, 63); // chars 62-64\nconst part11 = s.slice(59, 61); // chars 60-62\nconst part12 = s.slice(67, 69); // chars 68-70\n\nmsg.co2 = parseInt(part1 + part2, 16);\nmsg.co2low = parseInt(part3 + part4, 16);\nmsg.co2high = parseInt(part5 + part6, 16);\nmsg.co2temp = (((parseInt(part7 + part8, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.co2humidity = parseInt(part9, 16);\nmsg.co2battery = parseInt(part10 + part11, 16);\nmsg.co2rssi = parseInt(part12, 16) - 256;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1620,"wires":[["e391c0ef0d69d0d2","702930170981d5ad","718540c58dda2aef","9d56ccf043e1223e","11f9122f621c61b7","0d9ffcdbb9c5cfcd","473199a6ee1ab369","e926bd967c4a4a3d","7cd5bc1f9d1f0d56","900e3e5d184e64a7"]]},{"id":"e391c0ef0d69d0d2","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - co2temp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1680,"wires":[["e192eb1c9b2d7446"]]},{"id":"702930170981d5ad","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - co2temp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.co2temp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1720,"wires":[["ada31cd7bdbf567f"]]},{"id":"718540c58dda2aef","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - co2humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.humidity }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1760,"wires":[["e192eb1c9b2d7446"]]},{"id":"9d56ccf043e1223e","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - co2humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    humidity: msg.co2humidity\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1800,"wires":[["ada31cd7bdbf567f"]]},{"id":"11f9122f621c61b7","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - co2","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1440,"wires":[["e192eb1c9b2d7446"]]},{"id":"0d9ffcdbb9c5cfcd","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - co2","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1480,"wires":[["ada31cd7bdbf567f"]]},{"id":"473199a6ee1ab369","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - co2low","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 Low\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1520,"wires":[["e192eb1c9b2d7446"]]},{"id":"e926bd967c4a4a3d","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - co2low","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2low\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1560,"wires":[["ada31cd7bdbf567f"]]},{"id":"7cd5bc1f9d1f0d56","type":"function","z":"19b3d2daff510fdf","name":"Discovery Payload - co2high","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 High\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1600,"wires":[["e192eb1c9b2d7446"]]},{"id":"900e3e5d184e64a7","type":"function","z":"19b3d2daff510fdf","name":"State Update Payload - co2high","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2high\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1640,"wires":[["ada31cd7bdbf567f"]]},{"id":"8a6b8e3c.09db6","type":"mqtt-broker","name":"MQTT Broker","broker":"10.0.0.50","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d7bc33fc3420c324","type":"global-config","env":[],"modules":{"node-red-contrib-crypto-js":"0.1.1","node-red-contrib-random-string":"0.0.1","node-red-contrib-credentials":"0.2.3"}}]