flows_legacy.json
[{"id":"2c5b68b37c98e007","type":"tab","label":"RainPoint SA","disabled":false,"info":"","env":[]},{"id":"fa7f726aae1e3351","type":"inject","z":"2c5b68b37c98e007","name":"Credentials","props":[{"p":"areaCode","v":"27","vt":"str"},{"p":"phoneOrEmail","v":"","vt":"str"},{"p":"payload"},{"p":"count","v":"-1","vt":"num"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":680,"wires":[["5e44cc0cee2264e3"]]},{"id":"47c4db79dfdf7dfe","type":"http request","z":"2c5b68b37c98e007","name":"Hamgar Login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com/auth/basic/app/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"}],"x":640,"y":700,"wires":[["2992a1793116f662","c9039613df21e65b"]]},{"id":"1e79eb908ac03f50","type":"http request","z":"2c5b68b37c98e007","name":"Hamgar Get Home","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com:1443/app/member/appHome/list","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":650,"y":820,"wires":[["b9cdeaf7b2cd2002","186b7562d1234705"]]},{"id":"295f3d94150baa7b","type":"http request","z":"2c5b68b37c98e007","name":"Hamgar Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":640,"y":940,"wires":[["2fcf77b4e68f8c10","b04fa49dd235c563"]]},{"id":"2992a1793116f662","type":"change","z":"2c5b68b37c98e007","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.data.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["1e79eb908ac03f50"]]},{"id":"a1fb791c50aeaf34","type":"http request","z":"2c5b68b37c98e007","name":"Hamgar Get Device Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":680,"y":1120,"wires":[["a80e39bef41afc09"]]},{"id":"a8bf0fa2e00441d9","type":"debug","z":"2c5b68b37c98e007","name":"Devices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1000,"wires":[]},{"id":"186b7562d1234705","type":"function","z":"2c5b68b37c98e007","name":"function 9","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceByHid?hid=\" + msg.payload.data[0].hid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":880,"wires":[["295f3d94150baa7b"]]},{"id":"42ed07910309e027","type":"function","z":"2c5b68b37c98e007","name":"function 10","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceStatus?mid=\" + msg.payload.data[0].mid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1060,"wires":[["a1fb791c50aeaf34"]]},{"id":"b04fa49dd235c563","type":"change","z":"2c5b68b37c98e007","name":"Devices","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["42ed07910309e027","a8bf0fa2e00441d9"]]},{"id":"9f1bad42aca684a1","type":"change","z":"2c5b68b37c98e007","name":"","rules":[{"t":"set","p":"sensorstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1240,"wires":[["b4dc499afd8ad5d2","f587d056d9bd434f"]]},{"id":"b4dc499afd8ad5d2","type":"debug","z":"2c5b68b37c98e007","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorstatus","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1240,"wires":[]},{"id":"d8d10dc58b2dd1c9","type":"function","z":"2c5b68b37c98e007","name":"function 11","func":"msg.sensormodel = msg.devices.data[0].subDevices[msg.count].model\nmsg.sensordid = msg.devices.data[0].subDevices[msg.count].did\nmsg.sensorname = msg.devices.data[0].subDevices[msg.count].name\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1360,"wires":[["fa453f0468e145a5","b71959e4fc00b386","a193dce19fcb13a4"]]},{"id":"a193dce19fcb13a4","type":"switch","z":"2c5b68b37c98e007","name":"","property":"sensormodel","propertyType":"msg","rules":[{"t":"eq","v":"HCS021FRF","vt":"str"},{"t":"eq","v":"HCS012ARF","vt":"str"},{"t":"eq","v":"HCS008FRF","vt":"str"},{"t":"eq","v":"HCS0528ARF","vt":"str"},{"t":"eq","v":"HCS014ARF","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1210,"y":1120,"wires":[["d4a42f88faa9fb1d"],["462cfc30d14e2c90"],["8fb46754a57fd1d9"],["a661aa2d14771721"],["c778654413f0547f"]]},{"id":"d4a42f88faa9fb1d","type":"function","z":"2c5b68b37c98e007","name":"Soil Moisture","func":"const arraycount = msg.count + 1;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = (outputArray[1].replace(\"G=\", \"\"))\nmsg.soilmoisture = replacedString;\nconst inputString2 = msg.soilmoisture;\nconst outputArray2 = inputString2.split(',');\nmsg.soilmoisture = outputArray2;\nmsg.soilmoisture[0] = parseFloat(((((parseFloat(msg.soilmoisture[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.soilmoisture[1] = parseFloat(msg.soilmoisture[1])\nmsg.soilmoisture[2] = parseFloat(msg.soilmoisture[2])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":260,"wires":[["cd8fccb1eed115ab","d965f89668d17efd","82b614d5d79297ac","e58a45b718f576d0","adfcdfc46dee7782","7d23ba7a8e2344f8","0581bfcdc1024c38"]]},{"id":"462cfc30d14e2c90","type":"function","z":"2c5b68b37c98e007","name":"Rain Gauge","func":"const arraycount = msg.count + 1;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nmsg.raingauge = outputArray;\nconst inputString2 = msg.raingauge[1];\nconst replacedString = ((((inputString2.replace(\"R=\", \"\")).replace(\"(\", \",\")).replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\");\nconst outputArray2 = replacedString.split(',');\nmsg.raingauge = outputArray2;\nmsg.raingauge[0] = parseFloat(msg.raingauge[0]) / 10;\nmsg.raingauge[1] = parseFloat(msg.raingauge[1]) / 10;\nmsg.raingauge[2] = parseFloat(msg.raingauge[2]) / 10;\nmsg.raingauge[3] = parseFloat(msg.raingauge[3]) / 10;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":600,"wires":[["cd8fccb1eed115ab","beb2eb816512a6fd","3414ae1ac073dc8f","7f8891bdee6dd12d","e6c22f2f3690551e","0f37ad954a819640","42c1859feb47705f","e4d048ab48968fe9","038e88933fa2859d"]]},{"id":"5e44cc0cee2264e3","type":"digest","z":"2c5b68b37c98e007","name":"","algorithm":"MD5","x":330,"y":680,"wires":[["862ffea616cf6c22"]]},{"id":"695f408eb76b8175","type":"function","z":"2c5b68b37c98e007","name":"function 12","func":"const areaCode = msg.areaCode;\nconst phoneOrEmail = msg.phoneOrEmail;\nconst password = msg.password;\nconst deviceId = msg.deviceId;\nmsg.payload = { \"areaCode\": areaCode, \"phoneOrEmail\": phoneOrEmail, \"password\": password, \"deviceId\": deviceId }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["47c4db79dfdf7dfe"]]},{"id":"53c54a8ecdeae00d","type":"random-string","z":"2c5b68b37c98e007","size":16,"characters":"0123456789ABCDEF","property":"payload","x":360,"y":800,"wires":[["8c93a16d14c8a61a"]]},{"id":"862ffea616cf6c22","type":"change","z":"2c5b68b37c98e007","name":"","rules":[{"t":"set","p":"password","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["53c54a8ecdeae00d"]]},{"id":"8c93a16d14c8a61a","type":"change","z":"2c5b68b37c98e007","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["695f408eb76b8175"]]},{"id":"b9cdeaf7b2cd2002","type":"debug","z":"2c5b68b37c98e007","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":820,"wires":[]},{"id":"1e6686aa6386d2c8","type":"debug","z":"2c5b68b37c98e007","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"2fcf77b4e68f8c10","type":"debug","z":"2c5b68b37c98e007","name":"debug 38","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":940,"wires":[]},{"id":"a80e39bef41afc09","type":"function","z":"2c5b68b37c98e007","name":"function 16","func":"// Sort function to sort objects by id\nmsg.payload.data.subDeviceStatus.sort((a, b) => {\n    if (a.id < b.id) return -1;\n    if (a.id > b.id) return 1;\n    return 0;\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1180,"wires":[["1e6686aa6386d2c8","9f1bad42aca684a1"]]},{"id":"c9039613df21e65b","type":"debug","z":"2c5b68b37c98e007","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":700,"wires":[]},{"id":"fa453f0468e145a5","type":"debug","z":"2c5b68b37c98e007","name":"debug 40","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensormodel","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1320,"wires":[]},{"id":"b71959e4fc00b386","type":"debug","z":"2c5b68b37c98e007","name":"debug 41","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensordid","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1380,"wires":[]},{"id":"a0eefc68ef285bbf","type":"debug","z":"2c5b68b37c98e007","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"soilmoisture","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":80,"wires":[]},{"id":"c778654413f0547f","type":"function","z":"2c5b68b37c98e007","name":"Outdoor Temperature","func":"const arraycount = msg.count + 1;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = (((outputArray[1].replace(\"(\", \",\").replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.outdoortemp = replacedString;\nconst inputString2 = msg.outdoortemp;\nconst replacedString2 = (((inputString2.replace(\"(\", \",\").replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nconst outputArray2 = replacedString2.split(',');\nmsg.outdoortemp = outputArray2\nmsg.outdoortemp[0] = parseFloat(((((parseFloat(msg.outdoortemp[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[1] = parseFloat(((((parseFloat(msg.outdoortemp[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[2] = parseFloat(((((parseFloat(msg.outdoortemp[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.outdoortemp[4] = parseFloat(msg.outdoortemp[4])\nmsg.outdoortemp[5] = parseFloat(msg.outdoortemp[5])\nmsg.outdoortemp[6] = parseFloat(msg.outdoortemp[6])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1620,"wires":[["cd8fccb1eed115ab","2a98ab2bf39d1944","bcd9f3199eb38698","2c8b9347ad6286d2","76f4c267d8647125","bcc1e0c615d160cd","a7653571b789282f","4e8c1f7c2c94cb52","112d5f558b48fd43","2bb83cda407e3a72","07e73ed38724bc9c","02062e73d3b8f091","2ced98fa176fa5e6"]]},{"id":"a661aa2d14771721","type":"function","z":"2c5b68b37c98e007","name":"Pool","func":"const arraycount = msg.count + 1;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = ((((outputArray[1].replace(\"(\", \",\")).replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.pool = replacedString;\nconst inputString2 = msg.pool;\nconst outputArray2 = inputString2.split(',');\nmsg.pool = outputArray2;\nmsg.pool[0] = parseFloat(((((parseFloat(msg.pool[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[1] = parseFloat(((((parseFloat(msg.pool[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[2] = parseFloat(((((parseFloat(msg.pool[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":2000,"wires":[["cd8fccb1eed115ab","60bf1540189fdb28","fb1353e95d42f70c","82a45c818ae5a767","baca66ff8659118f","deb19a3a5454e706","f5a40f3ca619fd41"]]},{"id":"8fb46754a57fd1d9","type":"function","z":"2c5b68b37c98e007","name":"Flowmeter","func":"const arraycount = msg.count + 1;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nmsg.flowmeter = outputArray[1]\nconst inputString2 = msg.flowmeter;\nconst outputArray2 = inputString2.split(',');\nmsg.flowmeter = outputArray2;\nmsg.flowmeter[1] = parseFloat((((parseFloat(msg.flowmeter[1])) / 10)).toFixed(2))\nmsg.flowmeter[2] = parseFloat((((parseFloat(msg.flowmeter[2])) / 10)).toFixed(2))\nmsg.flowmeter[3] = parseFloat((((parseFloat(msg.flowmeter[3])) / 10)).toFixed(2))\nmsg.flowmeter[4] = parseFloat((((parseFloat(msg.flowmeter[4])) / 10)).toFixed(2))\nmsg.flowmeter[5] = parseFloat((((parseFloat(msg.flowmeter[5])) / 10)).toFixed(2))\nmsg.flowmeter[6] = parseFloat((((parseFloat(msg.flowmeter[6])) / 10)).toFixed(2))\nmsg.flowmeter[7] = parseFloat((((parseFloat(msg.flowmeter[7])) / 10)).toFixed(2))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1100,"wires":[["b2ceb91f8737f4c9","5d18cc2ff3edfa54","9c7cd89a07ecd610","06ee324a83bfc5dd","d1dc078f656fad99","5f31b1ae80b335f9","245c09218d3fe54e","eb236b4aef95b704","b7d47e20bef39928","117b1ff5ce7a29be","9baf2629ad497977","52be44c0eccf3c38","397022773c0964d3","ad038268615235b0","cd8fccb1eed115ab"]]},{"id":"cd8fccb1eed115ab","type":"delay","z":"2c5b68b37c98e007","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2660,"y":240,"wires":[["f587d056d9bd434f"]]},{"id":"d965f89668d17efd","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Temperature","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":220,"wires":[["a0eefc68ef285bbf","292163db72d27452"]]},{"id":"292163db72d27452","type":"mqtt out","z":"2c5b68b37c98e007","name":"MQTT Out Discovery","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2520,"y":1140,"wires":[]},{"id":"82b614d5d79297ac","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.soilmoisture[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":260,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"d3f3dc5fa460ae25","type":"mqtt out","z":"2c5b68b37c98e007","name":"MQTT Out State","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2700,"y":1520,"wires":[]},{"id":"e58a45b718f576d0","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":300,"wires":[["292163db72d27452"]]},{"id":"adfcdfc46dee7782","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.soilmoisture[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":340,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"fc7d39a8fc8b5e58","type":"delay","z":"2c5b68b37c98e007","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490,"y":1520,"wires":[["d3f3dc5fa460ae25"]]},{"id":"7d23ba7a8e2344f8","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Lux","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Lux\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\",\n    \"unit_of_measurement\": \"lx\",\n    \"value_template\": \"{{ value_json.lux }}\",\n    \"device_class\": \"illuminance\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":380,"wires":[["292163db72d27452"]]},{"id":"0581bfcdc1024c38","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    lux: msg.soilmoisture[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":420,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"91589e96b6c3b67e","type":"debug","z":"2c5b68b37c98e007","name":"debug 43","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1280,"wires":[]},{"id":"f587d056d9bd434f","type":"function","z":"2c5b68b37c98e007","name":"function 17","func":"msg.count = msg.count + 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1300,"wires":[["91589e96b6c3b67e","d8d10dc58b2dd1c9"]]},{"id":"beb2eb816512a6fd","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":480,"wires":[["292163db72d27452"]]},{"id":"3414ae1ac073dc8f","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":520,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"7f8891bdee6dd12d","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - 1hr","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 1hr\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":560,"wires":[["292163db72d27452"]]},{"id":"e6c22f2f3690551e","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":600,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"0f37ad954a819640","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - 24 Hours","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 24hrs\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":640,"wires":[["292163db72d27452"]]},{"id":"42c1859feb47705f","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - 24 Hours","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":680,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"e4d048ab48968fe9","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - 7 Days","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 7days\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":720,"wires":[["292163db72d27452"]]},{"id":"038e88933fa2859d","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation : msg.raingauge[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":760,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"b2ceb91f8737f4c9","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Real-Time","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/realtime/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Real-time\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/realtime/state\",\n    \"unit_of_measurement\": \"L/M\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":820,"wires":[["292163db72d27452"]]},{"id":"5d18cc2ff3edfa54","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/realtime/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":860,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"9c7cd89a07ecd610","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Current","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" current\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":900,"wires":[["292163db72d27452"]]},{"id":"06ee324a83bfc5dd","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Current","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":940,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"d1dc078f656fad99","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - CurrentDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":980,"wires":[["292163db72d27452"]]},{"id":"245c09218d3fe54e","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - CurrentDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[3]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1020,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"5f31b1ae80b335f9","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Last","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1060,"wires":[["292163db72d27452"]]},{"id":"eb236b4aef95b704","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Last","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[4]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1100,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"b7d47e20bef39928","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - LastDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1140,"wires":[["292163db72d27452"]]},{"id":"117b1ff5ce7a29be","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - LastDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[5]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1180,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"52be44c0eccf3c38","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[6]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1260,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"9baf2629ad497977","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Total Today","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Today\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1220,"wires":[["292163db72d27452"]]},{"id":"ad038268615235b0","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowmeter[7]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1340,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"397022773c0964d3","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1300,"wires":[["292163db72d27452"]]},{"id":"bcd9f3199eb38698","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1440,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"2a98ab2bf39d1944","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1400,"wires":[["292163db72d27452"]]},{"id":"76f4c267d8647125","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1520,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"2c8b9347ad6286d2","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1480,"wires":[["292163db72d27452"]]},{"id":"a7653571b789282f","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1600,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"bcc1e0c615d160cd","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1560,"wires":[["292163db72d27452"]]},{"id":"4e8c1f7c2c94cb52","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - CurrentHumidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1640,"wires":[["292163db72d27452"]]},{"id":"112d5f558b48fd43","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[4]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1680,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"2bb83cda407e3a72","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - High Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1720,"wires":[["292163db72d27452"]]},{"id":"07e73ed38724bc9c","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - High Humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[5]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1760,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"02062e73d3b8f091","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - Low Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1800,"wires":[["292163db72d27452"]]},{"id":"2ced98fa176fa5e6","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.outdoortemp[6]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1840,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"fb1353e95d42f70c","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1940,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"60bf1540189fdb28","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1900,"wires":[["292163db72d27452"]]},{"id":"baca66ff8659118f","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2020,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"82a45c818ae5a767","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1980,"wires":[["292163db72d27452"]]},{"id":"f5a40f3ca619fd41","type":"function","z":"2c5b68b37c98e007","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2100,"wires":[["fc7d39a8fc8b5e58"]]},{"id":"deb19a3a5454e706","type":"function","z":"2c5b68b37c98e007","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2060,"wires":[["292163db72d27452"]]},{"id":"8a6b8e3c.09db6","type":"mqtt-broker","name":"MQTT Broker","broker":"10.0.0.50","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
