homgar_flows.json
[{"id":"355f106876308802","type":"tab","label":"RainPoint SA","disabled":false,"info":"","env":[]},{"id":"996b689452dedf14","type":"inject","z":"355f106876308802","name":"Credentials","props":[{"p":"areaCode","v":"","vt":"str"},{"p":"phoneOrEmail","v":"","vt":"str"},{"p":"payload"},{"p":"count","v":"-1","vt":"num"},{"p":"hubcount","v":"-1","vt":"num"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":560,"wires":[["f8f16136f24c20e9"]]},{"id":"5942f821d4c2edf3","type":"http request","z":"355f106876308802","name":"Hamgar Login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com/auth/basic/app/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"}],"x":640,"y":700,"wires":[["d8ca6dc4ba9762f6","45457c1b2c05e6ba"]]},{"id":"c90488b543ff1c9f","type":"http request","z":"355f106876308802","name":"Hamgar Get Home","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com:1443/app/member/appHome/list","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":650,"y":820,"wires":[["cd17865e1887ec47","4237391664cb117b"]]},{"id":"41340ed4b53a9fe9","type":"http request","z":"355f106876308802","name":"Hamgar Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":640,"y":940,"wires":[["75acaaca6e9b5c74"]]},{"id":"d8ca6dc4ba9762f6","type":"change","z":"355f106876308802","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.data.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["c90488b543ff1c9f"]]},{"id":"04b27d97947303a7","type":"http request","z":"355f106876308802","name":"Hamgar Get Device Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"1"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":680,"y":1120,"wires":[["d4bb02dd008aee06","d4c084bc7d8c3a9b"]]},{"id":"6a68d956d100e911","type":"debug","z":"355f106876308802","name":"Home Hubs & Subs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"4237391664cb117b","type":"function","z":"355f106876308802","name":"function 9","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceByHid?hid=\" + msg.payload.data[0].hid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":880,"wires":[["41340ed4b53a9fe9"]]},{"id":"e2be73f5a50d8a88","type":"function","z":"355f106876308802","name":"function 10","func":"msg.hubcount = msg.hubcount + 1\nmsg.linkedhubs = msg.devices.data.length - 1\nmsg.linkeddevices = msg.devices.data[msg.hubcount].subDevices.length -1;\nmsg.url = \"https://region3.homgarus.com/app/device/getDeviceStatus?mid=\" + msg.devices.data[msg.hubcount].mid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1060,"wires":[["72aedbdba3396ac1","04b27d97947303a7"]]},{"id":"75acaaca6e9b5c74","type":"change","z":"355f106876308802","name":"Devices","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["e2be73f5a50d8a88","6a68d956d100e911"]]},{"id":"c4f27c5c3151a523","type":"change","z":"355f106876308802","name":"","rules":[{"t":"set","p":"sensorstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1240,"wires":[["d1b0ed3589851267","7ad1808ff0161664"]]},{"id":"d1b0ed3589851267","type":"debug","z":"355f106876308802","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorstatus","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1240,"wires":[]},{"id":"b9c1d28445d9aae7","type":"function","z":"355f106876308802","name":"function 11","func":"msg.sensormodel = msg.devices.data[msg.hubcount].subDevices[msg.count].model\nmsg.sensordid = msg.devices.data[msg.hubcount].subDevices[msg.count].did\nmsg.sensorname = msg.devices.data[msg.hubcount].subDevices[msg.count].name\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1360,"wires":[["eb73ec57df4b9cd7","28345129820ecfc6","b70bd08f9431b84b","75858cfe769e0223"]]},{"id":"f1fd9228109faa56","type":"function","z":"355f106876308802","name":"Soil Moisture HCS021FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(29, 31); // chars 27-28\nconst part2 = s.slice(27, 29); // chars 25-26\nconst part3 = s.slice(25, 26); // chars 23-24\nconst part4 = s.slice(21, 23); // chars 19-21\nconst part5 = s.slice(17, 19); // chars 15-17\nconst part6 = s.slice(15, 17); // chars 13-15\n\nmsg.soiltemp = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.soilmoisture = parseInt(part4, 16);\nmsg.soillux = parseInt(part1 + part2 + part3, 16);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":300,"wires":[["ae8dec9552af351b","91e3b04980f6c134","25cb85d866b97b50","6f2f6d05c64e28c2","5776cd820b5077f0","cf82f2052c31fc93","accbc3f9108d0ea1"]]},{"id":"e60fbf9d7add539d","type":"function","z":"355f106876308802","name":"Rain Gauge HCS012ARF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\nconst part2 = s.slice(13, 15); // chars 13-15\nconst part3 = s.slice(23, 25); // chars 23-25\nconst part4 = s.slice(21, 23); // chars 21-23\nconst part5 = s.slice(31, 33); // chars 31-33\nconst part6 = s.slice(29, 31); // chars 29-31\nconst part7 = s.slice(41, 43); // chars 41-43\nconst part8 = s.slice(39, 41); // chars 39-41\n\nmsg.rainhr = parseInt(part1 + part2, 16) / 10;\nmsg.rainday = parseInt(part3 + part4, 16) / 10;\nmsg.rainweek = parseInt(part5 + part6, 16) / 10;\nmsg.raintotal = parseInt(part7 + part8, 16) / 10;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":600,"wires":[["ae8dec9552af351b","a2ca1254d2a896ba","28d6b68a7ab81b5b","948e8b7962942454","9715a50eba4ba5ef","ca7d77eb49a7d0e8","1e82f3597c4da081","0bdfd977e6b1f2a1","6d7c9a2b82594e0a"]]},{"id":"0ba35c55278d7d85","type":"digest","z":"355f106876308802","name":"","algorithm":"MD5","x":330,"y":680,"wires":[["2a795d0d78d6745e"]]},{"id":"05f4299ebc4ec49d","type":"function","z":"355f106876308802","name":"function 12","func":"const areaCode = msg.areaCode;\nconst phoneOrEmail = msg.phoneOrEmail;\nconst password = msg.password;\nconst deviceId = msg.deviceId;\nmsg.payload = { \"areaCode\": areaCode, \"phoneOrEmail\": phoneOrEmail, \"password\": password, \"deviceId\": deviceId }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["5942f821d4c2edf3"]]},{"id":"791d79fce5f6419d","type":"random-string","z":"355f106876308802","size":16,"characters":"0123456789ABCDEF","property":"payload","x":360,"y":800,"wires":[["06c60138be4dd4b3"]]},{"id":"2a795d0d78d6745e","type":"change","z":"355f106876308802","name":"","rules":[{"t":"set","p":"password","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["791d79fce5f6419d"]]},{"id":"06c60138be4dd4b3","type":"change","z":"355f106876308802","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["05f4299ebc4ec49d"]]},{"id":"cd17865e1887ec47","type":"debug","z":"355f106876308802","name":"Home Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":820,"wires":[]},{"id":"d4c084bc7d8c3a9b","type":"debug","z":"355f106876308802","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"d4bb02dd008aee06","type":"function","z":"355f106876308802","name":"function 16","func":"// Sort function to sort objects by id\nmsg.payload.data.subDeviceStatus.sort((a, b) => {\n    if (a.id < b.id) return -1;\n    if (a.id > b.id) return 1;\n    return 0;\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1180,"wires":[["d4c084bc7d8c3a9b","c4f27c5c3151a523"]]},{"id":"45457c1b2c05e6ba","type":"debug","z":"355f106876308802","name":"Login Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":700,"wires":[]},{"id":"eb73ec57df4b9cd7","type":"debug","z":"355f106876308802","name":"Sensor Model","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensormodel","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1340,"wires":[]},{"id":"28345129820ecfc6","type":"debug","z":"355f106876308802","name":"Sensor ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensordid","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1380,"wires":[]},{"id":"562e48fe2c78e720","type":"function","z":"355f106876308802","name":"Temperature HCS014ARF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 7-9\nconst part2 = s.slice(5, 7); // chars 5-7\nconst part3 = s.slice(11, 13); // chars 11-13\nconst part4 = s.slice(9, 11); // chars 9-11\nconst part5 = s.slice(25, 27); // chars 25-27\nconst part6 = s.slice(23, 25); // chars 23-25\nconst part7 = s.slice(29, 31); // chars 29-31\nconst part8 = s.slice(35, 37); // chars 35-37\nconst part9 = s.slice(33, 35); // chars 33-35\n\nmsg.templow = (((parseInt(part1 + part2, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.temphigh = (((parseInt(part3 + part4, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.tempcurrent = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.humiditycurrent = parseInt(part7, 16);\nmsg.humidityhigh = parseInt(part8, 16);\nmsg.humiditylow = parseInt(part9, 16);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1960,"wires":[["ae8dec9552af351b","9635bbdbcbb010d1","6a4504a89ca690b4","96b0d80b5581dd32","caca703c59cbb73b","c54229c84f7cf461","edb386d66bf523b6","452fb4bf0d6935aa","fb2537fe6948381d","44438f071058c3ad","b067588f30fe4120","3dd30cbe03fb4749","7608b71be47e9fce"]]},{"id":"45291b5339c49ab3","type":"function","z":"355f106876308802","name":"Pool","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nconst outputArray = inputString.split(';');\nconst replacedString = ((((outputArray[1].replace(\"(\", \",\")).replace(\"/\", \",\")).replace(\"/\", \",\")).replace(\")\", \"\"));\nmsg.pool = replacedString;\nconst inputString2 = msg.pool;\nconst outputArray2 = inputString2.split(',');\nmsg.pool = outputArray2;\nmsg.pool[0] = parseFloat(((((parseFloat(msg.pool[0])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[1] = parseFloat(((((parseFloat(msg.pool[1])) / 10) - 32) * (5 / 9)).toFixed(2))\nmsg.pool[2] = parseFloat(((((parseFloat(msg.pool[2])) / 10) - 32) * (5 / 9)).toFixed(2))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":2580,"wires":[["ae8dec9552af351b","4d6d87d227a99bfb","6ca13dd7faef0f49","a776ca048c9d8700","b7fdb95f394929b2","0423b2c3a17fc501","3059aeacc70e6974"]]},{"id":"1a3db3ed6441f341","type":"function","z":"355f106876308802","name":"Flowmeter HCS008FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(49, 51); // chars 49-51\nconst part2 = s.slice(47, 49); // chars 47-49\nconst part3 = s.slice(45, 47); // chars 45-47\nconst part4 = s.slice(59, 61); // chars 59-61\nconst part5 = s.slice(57, 59); // chars 57-59\nconst part6 = s.slice(55, 57); // chars 55-57\nconst part7 = s.slice(69, 71); // chars 69-71\nconst part8 = s.slice(67, 69); // chars 67-69\nconst part9 = s.slice(65, 67); // chars 65-67\nconst part10 = s.slice(81, 83); // chars 81-83\nconst part11 = s.slice(79, 81); // chars 79-81\nconst part12 = s.slice(77, 79); // chars 77-79\nconst part13 = s.slice(91, 93); // chars 91-93\nconst part14 = s.slice(89, 91); // chars 89-91\nconst part15 = s.slice(87, 89); // chars 87-89\nconst part16 = s.slice(103, 105); // chars 103-105\nconst part17 = s.slice(101, 103); // chars 101-103\nconst part18 = s.slice(99, 101); // chars 99-101\nconst part19 = s.slice(97, 99); // chars 97-99\n\n\nmsg.flowcurrentused = parseInt(part1 + part2 + part3, 16) / 10;\nmsg.flowcurrenduration = parseInt(part4 + part5 + part6, 16);\nmsg.flowlastused = parseInt(part7 + part8 + part9, 16) / 10;\nmsg.flowlastusedduration = parseInt(part10 + part11 + part12, 16);\nmsg.flowtotaltoday = parseInt(part13 + part14 + part15, 16) / 10;\nmsg.flowtotal = parseInt(part16 + part17 + part18 + part19, 16) / 10;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1020,"wires":[["aedeaefd0eab51a0","bb771e8023693cae","08ae596628b8ea0a","b58bd8e3f9982100","d52aded3b8d6cd6f","51a93decec9d7503","1ed01647bdd7c39f","fe92f8b6d3243bf6","8f349c6252ab0bd0","8b69864907792cc8","26d4231cc9b87ce9","a27a122e41ad2f3c","ae8dec9552af351b"]]},{"id":"ae8dec9552af351b","type":"delay","z":"355f106876308802","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3140,"y":1400,"wires":[["4f0b3af4837feb9a"]]},{"id":"91e3b04980f6c134","type":"function","z":"355f106876308802","name":"Discovery Payload - Temperature","func":"var topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\",\n    \"unique_id\": msg.sensordid + \" Temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":220,"wires":[["5f09e1e102acd04e"]]},{"id":"5f09e1e102acd04e","type":"mqtt out","z":"355f106876308802","name":"MQTT Out Discovery","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2520,"y":1140,"wires":[]},{"id":"25cb85d866b97b50","type":"function","z":"355f106876308802","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.soiltemp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":260,"wires":[["1301e90a486b7468"]]},{"id":"5b84c7eefdda8c18","type":"mqtt out","z":"355f106876308802","name":"MQTT Out State","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8a6b8e3c.09db6","x":2700,"y":1520,"wires":[]},{"id":"6f2f6d05c64e28c2","type":"function","z":"355f106876308802","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unique_id\": msg.sensordid + \" Moisture\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":300,"wires":[["5f09e1e102acd04e"]]},{"id":"5776cd820b5077f0","type":"function","z":"355f106876308802","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.soilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":340,"wires":[["1301e90a486b7468"]]},{"id":"1301e90a486b7468","type":"delay","z":"355f106876308802","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490,"y":1520,"wires":[["5b84c7eefdda8c18"]]},{"id":"cf82f2052c31fc93","type":"function","z":"355f106876308802","name":"Discovery Payload - Lux","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Lux\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\",\n    \"unique_id\": msg.sensordid + \" Lux\",\n    \"unit_of_measurement\": \"lx\",\n    \"value_template\": \"{{ value_json.lux }}\",\n    \"device_class\": \"illuminance\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":380,"wires":[["5f09e1e102acd04e"]]},{"id":"accbc3f9108d0ea1","type":"function","z":"355f106876308802","name":"State Update Payload - Lux","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    lux: msg.soillux\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":420,"wires":[["1301e90a486b7468"]]},{"id":"fac5b82ee95007bb","type":"debug","z":"355f106876308802","name":"Count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1280,"wires":[]},{"id":"7ad1808ff0161664","type":"function","z":"355f106876308802","name":"function 17","func":"msg.count = msg.count + 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1300,"wires":[["fac5b82ee95007bb","b9c1d28445d9aae7"]]},{"id":"a2ca1254d2a896ba","type":"function","z":"355f106876308802","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unique_id\": msg.sensordid + \" total\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":480,"wires":[["5f09e1e102acd04e"]]},{"id":"28d6b68a7ab81b5b","type":"function","z":"355f106876308802","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.raintotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":520,"wires":[["1301e90a486b7468"]]},{"id":"948e8b7962942454","type":"function","z":"355f106876308802","name":"Discovery Payload - 1hr","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 1hr\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\",\n    \"unique_id\": msg.sensordid + \" 1hr\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":560,"wires":[["5f09e1e102acd04e"]]},{"id":"9715a50eba4ba5ef","type":"function","z":"355f106876308802","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainhr\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":600,"wires":[["1301e90a486b7468"]]},{"id":"ca7d77eb49a7d0e8","type":"function","z":"355f106876308802","name":"Discovery Payload - 24 Hours","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 24hrs\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\",\n    \"unique_id\": msg.sensordid + \" 24hrs\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":640,"wires":[["5f09e1e102acd04e"]]},{"id":"1e82f3597c4da081","type":"function","z":"355f106876308802","name":"State Update Payload - 24 Hours","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":680,"wires":[["1301e90a486b7468"]]},{"id":"0bdfd977e6b1f2a1","type":"function","z":"355f106876308802","name":"Discovery Payload - 7 Days","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 7days\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\",\n    \"unique_id\": msg.sensordid + \" 7days\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":720,"wires":[["5f09e1e102acd04e"]]},{"id":"6d7c9a2b82594e0a","type":"function","z":"355f106876308802","name":"State Update Payload - 7 Days","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainweek\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":760,"wires":[["1301e90a486b7468"]]},{"id":"aedeaefd0eab51a0","type":"function","z":"355f106876308802","name":"Discovery Payload - Current","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" current\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\",\n    \"unique_id\": msg.sensordid + \" current\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":820,"wires":[["5f09e1e102acd04e"]]},{"id":"bb771e8023693cae","type":"function","z":"355f106876308802","name":"State Update Payload - Current","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrentused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":860,"wires":[["1301e90a486b7468"]]},{"id":"08ae596628b8ea0a","type":"function","z":"355f106876308802","name":"Discovery Payload - CurrentDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\",\n    \"unique_id\": msg.sensordid + \" current_duration\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":900,"wires":[["5f09e1e102acd04e"]]},{"id":"d52aded3b8d6cd6f","type":"function","z":"355f106876308802","name":"State Update Payload - CurrentDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrenduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":940,"wires":[["1301e90a486b7468"]]},{"id":"b58bd8e3f9982100","type":"function","z":"355f106876308802","name":"Discovery Payload - Last","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\",\n    \"unique_id\": msg.sensordid + \" last\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":980,"wires":[["5f09e1e102acd04e"]]},{"id":"51a93decec9d7503","type":"function","z":"355f106876308802","name":"State Update Payload - Last","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1020,"wires":[["1301e90a486b7468"]]},{"id":"1ed01647bdd7c39f","type":"function","z":"355f106876308802","name":"Discovery Payload - LastDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\",\n    \"unique_id\": msg.sensordid + \" last_duration\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1060,"wires":[["5f09e1e102acd04e"]]},{"id":"fe92f8b6d3243bf6","type":"function","z":"355f106876308802","name":"State Update Payload - LastDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastusedduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1100,"wires":[["1301e90a486b7468"]]},{"id":"8b69864907792cc8","type":"function","z":"355f106876308802","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotaltoday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1180,"wires":[["1301e90a486b7468"]]},{"id":"8f349c6252ab0bd0","type":"function","z":"355f106876308802","name":"Discovery Payload - Total Today","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Today\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\",\n    \"unique_id\": msg.sensordid + \" today\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1140,"wires":[["5f09e1e102acd04e"]]},{"id":"a27a122e41ad2f3c","type":"function","z":"355f106876308802","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1260,"wires":[["1301e90a486b7468"]]},{"id":"26d4231cc9b87ce9","type":"function","z":"355f106876308802","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unique_id\": msg.sensordid + \" total\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1220,"wires":[["5f09e1e102acd04e"]]},{"id":"34ca39b1a28038ee","type":"function","z":"355f106876308802","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.tempcurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1780,"wires":[["1301e90a486b7468"]]},{"id":"9635bbdbcbb010d1","type":"function","z":"355f106876308802","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unique_id\": msg.sensordid + \" current_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1740,"wires":[["5f09e1e102acd04e"]]},{"id":"96b0d80b5581dd32","type":"function","z":"355f106876308802","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.temphigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1860,"wires":[["1301e90a486b7468"]]},{"id":"6a4504a89ca690b4","type":"function","z":"355f106876308802","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unique_id\": msg.sensordid + \" high_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1820,"wires":[["5f09e1e102acd04e"]]},{"id":"c54229c84f7cf461","type":"function","z":"355f106876308802","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.templow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1940,"wires":[["1301e90a486b7468"]]},{"id":"caca703c59cbb73b","type":"function","z":"355f106876308802","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unique_id\": msg.sensordid + \" low_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1900,"wires":[["5f09e1e102acd04e"]]},{"id":"edb386d66bf523b6","type":"function","z":"355f106876308802","name":"Discovery Payload - CurrentHumidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\",\n    \"unique_id\": msg.sensordid + \" current_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1980,"wires":[["5f09e1e102acd04e"]]},{"id":"452fb4bf0d6935aa","type":"function","z":"355f106876308802","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humiditycurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":2020,"wires":[["1301e90a486b7468"]]},{"id":"fb2537fe6948381d","type":"function","z":"355f106876308802","name":"Discovery Payload - High Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\",\n    \"unique_id\": msg.sensordid + \" high_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2060,"wires":[["5f09e1e102acd04e"]]},{"id":"44438f071058c3ad","type":"function","z":"355f106876308802","name":"State Update Payload - High Humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humidityhigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2100,"wires":[["1301e90a486b7468"]]},{"id":"b067588f30fe4120","type":"function","z":"355f106876308802","name":"Discovery Payload - Low Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\",\n    \"unique_id\": msg.sensordid + \" low_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2140,"wires":[["5f09e1e102acd04e"]]},{"id":"3dd30cbe03fb4749","type":"function","z":"355f106876308802","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humiditylow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":2180,"wires":[["1301e90a486b7468"]]},{"id":"6ca13dd7faef0f49","type":"function","z":"355f106876308802","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[0]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2520,"wires":[["1301e90a486b7468"]]},{"id":"4d6d87d227a99bfb","type":"function","z":"355f106876308802","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2480,"wires":[["5f09e1e102acd04e"]]},{"id":"b7fdb95f394929b2","type":"function","z":"355f106876308802","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[1]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2600,"wires":[["1301e90a486b7468"]]},{"id":"a776ca048c9d8700","type":"function","z":"355f106876308802","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2560,"wires":[["5f09e1e102acd04e"]]},{"id":"3059aeacc70e6974","type":"function","z":"355f106876308802","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.pool[2]\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2680,"wires":[["1301e90a486b7468"]]},{"id":"0423b2c3a17fc501","type":"function","z":"355f106876308802","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\"\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2640,"wires":[["5f09e1e102acd04e"]]},{"id":"f8f16136f24c20e9","type":"credentials","z":"355f106876308802","name":"","props":[{"value":"areaCode","type":"msg"},{"value":"phoneOrEmail","type":"msg"},{"value":"payload","type":"msg"}],"x":350,"y":620,"wires":[["0ba35c55278d7d85"]],"info":"Add the following details to  the credentials node:\r\n- msg.areaCode: Country dial code, i.e South Africa 27\r\n- msg.phoneOrEmail: Email address of linked account\r\n- msg.payload: Password"},{"id":"72aedbdba3396ac1","type":"debug","z":"355f106876308802","name":"Linked Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"linkeddevices","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1060,"wires":[]},{"id":"4f0b3af4837feb9a","type":"switch","z":"355f106876308802","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"linkeddevices","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3170,"y":1520,"wires":[["7ad1808ff0161664"],["213a3da80158776c"]]},{"id":"213a3da80158776c","type":"switch","z":"355f106876308802","name":"","property":"hubcount","propertyType":"msg","rules":[{"t":"lt","v":"linkedhubs","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3370,"y":1580,"wires":[["c9a90306b06508f8"],[]]},{"id":"c9a90306b06508f8","type":"function","z":"355f106876308802","name":"function 19","func":"msg.count = - 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":1540,"wires":[["e2be73f5a50d8a88"]]},{"id":"b70bd08f9431b84b","type":"debug","z":"355f106876308802","name":"Sensor Name","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorname","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1420,"wires":[]},{"id":"75858cfe769e0223","type":"switch","z":"355f106876308802","name":"","property":"sensormodel","propertyType":"msg","rules":[{"t":"eq","v":"HCS021FRF","vt":"str"},{"t":"eq","v":"HCS012ARF","vt":"str"},{"t":"eq","v":"HCS008FRF","vt":"str"},{"t":"eq","v":"HCS0530THO","vt":"str"},{"t":"eq","v":"HCS014ARF","vt":"str"},{"t":"eq","v":"HCS026FRF","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":1190,"y":1100,"wires":[["f1fd9228109faa56"],["e60fbf9d7add539d"],["1a3db3ed6441f341"],["b376c116961b66ba"],["562e48fe2c78e720"],["e8c989923054a63b"],["ae8dec9552af351b"]]},{"id":"b376c116961b66ba","type":"function","z":"355f106876308802","name":"CO2 HCS0530THO","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 8-10\nconst part2 = s.slice(5, 7); // chars 6-8\nconst part3 = s.slice(53, 55); // chars 54-56\nconst part4 = s.slice(51, 53); // chars 52-54\nconst part5 = s.slice(57, 59); // chars 58-60\nconst part6 = s.slice(55, 57); // chars 56-58\nconst part7 = s.slice(35, 37); // chars 26-28\nconst part8 = s.slice(33, 35); // chars 24-26\nconst part9 = s.slice(39, 41); // chars 40-42\nconst part10 = s.slice(61, 63); // chars 62-64\nconst part11 = s.slice(59, 61); // chars 60-62\nconst part12 = s.slice(67, 69); // chars 68-70\n\nmsg.co2 = parseInt(part1 + part2, 16);\nmsg.co2low = parseInt(part3 + part4, 16);\nmsg.co2high = parseInt(part5 + part6, 16);\nmsg.co2temp = (((parseInt(part7 + part8, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.co2humidity = parseInt(part9, 16);\nmsg.co2battery = parseInt(part10 + part11, 16);\nmsg.co2rssi = parseInt(part12, 16) - 256;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1500,"wires":[["2de195bdb55bdf91","22a5573c3899ab8a","f6a21c35e0337c57","51594f8da221bdfa","5744ae2b3dbb20d0","d1cc7eaff6e8b47b","7bc2c705128511b7","aadf62fa10a05361","46399dad724039a7","575a0b860098ad88","ae8dec9552af351b"]]},{"id":"2de195bdb55bdf91","type":"function","z":"355f106876308802","name":"Discovery Payload - co2temp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\",\n    \"unique_id\": msg.sensordid + \" temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1560,"wires":[["5f09e1e102acd04e"]]},{"id":"22a5573c3899ab8a","type":"function","z":"355f106876308802","name":"State Update Payload - co2temp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.co2temp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1600,"wires":[["1301e90a486b7468"]]},{"id":"f6a21c35e0337c57","type":"function","z":"355f106876308802","name":"Discovery Payload - co2humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\",\n    \"unique_id\": msg.sensordid + \" humidty\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.humidity }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1640,"wires":[["5f09e1e102acd04e"]]},{"id":"51594f8da221bdfa","type":"function","z":"355f106876308802","name":"State Update Payload - co2humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    humidity: msg.co2humidity\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1680,"wires":[["1301e90a486b7468"]]},{"id":"5744ae2b3dbb20d0","type":"function","z":"355f106876308802","name":"Discovery Payload - co2","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\",\n    \"unique_id\": msg.sensordid + \" co2\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1320,"wires":[["5f09e1e102acd04e"]]},{"id":"d1cc7eaff6e8b47b","type":"function","z":"355f106876308802","name":"State Update Payload - co2","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1360,"wires":[["1301e90a486b7468"]]},{"id":"7bc2c705128511b7","type":"function","z":"355f106876308802","name":"Discovery Payload - co2low","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 Low\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\",\n    \"unique_id\": msg.sensordid + \" co2_low\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1400,"wires":[["5f09e1e102acd04e"]]},{"id":"aadf62fa10a05361","type":"function","z":"355f106876308802","name":"State Update Payload - co2low","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2low\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1440,"wires":[["1301e90a486b7468"]]},{"id":"46399dad724039a7","type":"function","z":"355f106876308802","name":"Discovery Payload - co2high","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 High\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\",\n    \"unique_id\": msg.sensordid + \" co2_high\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1480,"wires":[["5f09e1e102acd04e"]]},{"id":"575a0b860098ad88","type":"function","z":"355f106876308802","name":"State Update Payload - co2high","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2high\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1520,"wires":[["1301e90a486b7468"]]},{"id":"e8c989923054a63b","type":"function","z":"355f106876308802","name":"Soil Moisture HCS026FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\n\nmsg.digitalsoilmoisture = parseInt(part1, 16);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":2240,"wires":[["ae8dec9552af351b","83168d1b0ede9e6d","e21fe5a140b7305b"]]},{"id":"83168d1b0ede9e6d","type":"function","z":"355f106876308802","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unique_id\": msg.sensordid + \" moisture\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS026FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2240,"wires":[["5f09e1e102acd04e"]]},{"id":"e21fe5a140b7305b","type":"function","z":"355f106876308802","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.digitalsoilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2280,"wires":[["1301e90a486b7468"]]},{"id":"7608b71be47e9fce","type":"switch","z":"355f106876308802","name":"","property":"tempcurrent","propertyType":"msg","rules":[{"t":"btwn","v":"-40","vt":"num","v2":"60","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":1820,"wires":[["34ca39b1a28038ee"]]},{"id":"8a6b8e3c.09db6","type":"mqtt-broker","name":"MQTT Broker","broker":"10.0.0.50","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"aa30354f40cca0db","type":"global-config","env":[],"modules":{"node-red-contrib-crypto-js":"0.1.1","node-red-contrib-random-string":"0.0.1","node-red-contrib-credentials":"0.2.3"}}]