Homgar_Rainpoint_Flow.json
[{"id":"daf3c6940759d226","type":"tab","label":"RainPoint SA","disabled":false,"info":"","env":[]},{"id":"4047d3479d9df985","type":"inject","z":"daf3c6940759d226","name":"Values","props":[{"p":"areaCode","v":"","vt":"str"},{"p":"phoneOrEmail","v":"","vt":"str"},{"p":"payload"},{"p":"count","v":"-1","vt":"num"},{"p":"hubcount","v":"-1","vt":"num"},{"p":"debug","v":"false","vt":"bool"}],"repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":560,"wires":[["d800a97f5f80a580"]]},{"id":"878ba3b553a2df79","type":"http request","z":"daf3c6940759d226","name":"Hamgar Login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com/auth/basic/app/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"msg","valueValue":"appcode"}],"x":640,"y":700,"wires":[["0173fd96c346f0ae","320adbde4ec71451"]]},{"id":"5d85cf772a117021","type":"http request","z":"daf3c6940759d226","name":"Hamgar Get Home","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com:1443/app/member/appHome/list","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"msg","valueValue":"appcode"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":650,"y":820,"wires":[["62bd996fbfa7a08f","2d55ed8505397c0a"]]},{"id":"8b13249df371d4c5","type":"http request","z":"daf3c6940759d226","name":"Hamgar Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"msg","valueValue":"appcode"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":640,"y":940,"wires":[["23112a2db0627eb9"]]},{"id":"0173fd96c346f0ae","type":"change","z":"daf3c6940759d226","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.data.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["5d85cf772a117021"]]},{"id":"df69f72f924a4ae4","type":"http request","z":"daf3c6940759d226","name":"Hamgar Get Device Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"msg","valueValue":"appcode"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":680,"y":1120,"wires":[["4bf277f430ce3e96","3dfe8b9f73e59588"]]},{"id":"53f0506237b6b508","type":"debug","z":"daf3c6940759d226","name":"Home Hubs & Subs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"2d55ed8505397c0a","type":"function","z":"daf3c6940759d226","name":"function 9","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceByHid?hid=\" + msg.payload.data[0].hid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":880,"wires":[["8b13249df371d4c5"]]},{"id":"28d5515f2a16f0c5","type":"function","z":"daf3c6940759d226","name":"function 10","func":"msg.hubcount = msg.hubcount + 1\nmsg.linkedhubs = msg.devices.data.length - 1\nmsg.linkeddevices = msg.devices.data[msg.hubcount].subDevices.length -1;\nmsg.url = \"https://region3.homgarus.com/app/device/getDeviceStatus?mid=\" + msg.devices.data[msg.hubcount].mid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1060,"wires":[["4cbba6a1cfebce8f","df69f72f924a4ae4"]]},{"id":"23112a2db0627eb9","type":"change","z":"daf3c6940759d226","name":"Devices","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["28d5515f2a16f0c5","53f0506237b6b508"]]},{"id":"d9e90f5dd74b25b3","type":"change","z":"daf3c6940759d226","name":"","rules":[{"t":"set","p":"sensorstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1240,"wires":[["820ffa56c3b4410a","e4cb16db8ca1a20c"]]},{"id":"820ffa56c3b4410a","type":"debug","z":"daf3c6940759d226","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorstatus","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1240,"wires":[]},{"id":"118fd8980380ee09","type":"function","z":"daf3c6940759d226","name":"function 11","func":"msg.sensormodel = msg.devices.data[msg.hubcount].subDevices[msg.count].model\nmsg.sensordid = msg.devices.data[msg.hubcount].subDevices[msg.count].did\nmsg.sensorname = msg.devices.data[msg.hubcount].subDevices[msg.count].name\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1360,"wires":[["112db984638d506c","50d332751c35d112","22b8b25748ba90b5","c072d84e24fb1e70"]]},{"id":"f6507abf43b34832","type":"function","z":"daf3c6940759d226","name":"Soil Moisture HCS021FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(29, 31); // chars 27-28\nconst part2 = s.slice(27, 29); // chars 25-26\nconst part3 = s.slice(25, 27); // chars 23-24\nconst part4 = s.slice(21, 23); // chars 19-21\nconst part5 = s.slice(17, 19); // chars 15-17\nconst part6 = s.slice(15, 17); // chars 13-15\nconst part7 = s.slice(33, 35); // chars 33-35\nconst part8 = s.slice(31, 33); // chars 31-33\n\nmsg.soiltemp = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.soilmoisture = parseInt(part4, 16);\nmsg.soillux = (parseInt(part1 + part2 + part3, 16)/10).toFixed(0);\nmsg.soilbatt = (parseInt(part7 + part8, 16) / 4095 * 100).toFixed(0);\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":300,"wires":[["24e28afd13b18788","2e66f3e1da19f250","6b2827399468da59","5bfd686ce54e47be","6faa4e7ac52a0d1f","84cf90a04b58c02d","7e123629a05482ee","36c254f64a6b1e73","f27879317953b654","ef6af5e18f222c8e"]]},{"id":"e97c0af3652f807d","type":"function","z":"daf3c6940759d226","name":"Rain Gauge HCS012ARF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\nconst part2 = s.slice(13, 15); // chars 13-15\nconst part3 = s.slice(23, 25); // chars 23-25\nconst part4 = s.slice(21, 23); // chars 21-23\nconst part5 = s.slice(31, 33); // chars 31-33\nconst part6 = s.slice(29, 31); // chars 29-31\nconst part7 = s.slice(41, 43); // chars 41-43\nconst part8 = s.slice(39, 41); // chars 39-41\nconst part9 = s.slice(53,55); // chars 53-55\nconst part10 = s.slice(51,53); // chars 51-53\n\nmsg.rainhr = parseInt(part1 + part2, 16) / 10;\nmsg.rainday = parseInt(part3 + part4, 16) / 10;\nmsg.rainweek = parseInt(part5 + part6, 16) / 10;\nmsg.raintotal = parseInt(part7 + part8, 16) / 10;\nmsg.rainbatt = parseInt(part9 + part10, 16);\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":280,"wires":[["24e28afd13b18788","ecac9fc5c6ea1a04","06870f4bbe4cdf2a","e5cc14a739a82c7a","88d1839ccf58537b","ab67fbfbec8dbe5c","8418af431b190a89","82d177627ecb6e15","8297bd2cd28e54d6","b150ed5e39e6e1f9","001ed64b11fd44c0","ba017523386d7be6"]]},{"id":"f276c2df35680bef","type":"digest","z":"daf3c6940759d226","name":"","algorithm":"MD5","x":330,"y":680,"wires":[["0ee29dc45ae381b1"]]},{"id":"5b34e413ddef1a11","type":"function","z":"daf3c6940759d226","name":"function 12","func":"const areaCode = msg.areaCode;\nconst phoneOrEmail = msg.phoneOrEmail;\nconst password = msg.password;\nconst deviceId = msg.deviceId;\nmsg.payload = { \"areaCode\": areaCode, \"phoneOrEmail\": phoneOrEmail, \"password\": password, \"deviceId\": deviceId }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["878ba3b553a2df79"]]},{"id":"d617feb3954ef2d3","type":"random-string","z":"daf3c6940759d226","size":16,"characters":"0123456789ABCDEF","property":"payload","x":360,"y":800,"wires":[["0de963e96b0b9f26"]]},{"id":"0ee29dc45ae381b1","type":"change","z":"daf3c6940759d226","name":"","rules":[{"t":"set","p":"password","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["d617feb3954ef2d3"]]},{"id":"0de963e96b0b9f26","type":"change","z":"daf3c6940759d226","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["5b34e413ddef1a11"]]},{"id":"62bd996fbfa7a08f","type":"debug","z":"daf3c6940759d226","name":"Home Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":820,"wires":[]},{"id":"3dfe8b9f73e59588","type":"debug","z":"daf3c6940759d226","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"4bf277f430ce3e96","type":"function","z":"daf3c6940759d226","name":"function 16","func":"// Sort function to sort objects by id\nmsg.payload.data.subDeviceStatus.sort((a, b) => {\n    if (a.id < b.id) return -1;\n    if (a.id > b.id) return 1;\n    return 0;\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1180,"wires":[["3dfe8b9f73e59588","d9e90f5dd74b25b3"]]},{"id":"320adbde4ec71451","type":"debug","z":"daf3c6940759d226","name":"Login Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":700,"wires":[]},{"id":"112db984638d506c","type":"debug","z":"daf3c6940759d226","name":"Sensor Model","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensormodel","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1340,"wires":[]},{"id":"50d332751c35d112","type":"debug","z":"daf3c6940759d226","name":"Sensor ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensordid","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1380,"wires":[]},{"id":"92f227c1527b47d1","type":"function","z":"daf3c6940759d226","name":"Temperature HCS014ARF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 7-9\nconst part2 = s.slice(5, 7); // chars 5-7\nconst part3 = s.slice(11, 13); // chars 11-13\nconst part4 = s.slice(9, 11); // chars 9-11\nconst part5 = s.slice(25, 27); // chars 25-27\nconst part6 = s.slice(23, 25); // chars 23-25\nconst part7 = s.slice(29, 31); // chars 29-31\nconst part8 = s.slice(35, 37); // chars 35-37\nconst part9 = s.slice(33, 35); // chars 33-35\nconst part10 = s.slice(39,41); // chars 39-41\nconst part11 = s.slice(37,39); // chars 37-39\n\nmsg.templow = (((parseInt(part1 + part2, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.temphigh = (((parseInt(part3 + part4, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.tempcurrent = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.humiditycurrent = parseInt(part7, 16);\nmsg.humidityhigh = parseInt(part8, 16);\nmsg.humiditylow = parseInt(part9, 16);\nmsg.tempbatt = (parseInt(part10 + part11, 16) / 4095 * 100).toFixed(0);\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1540,"wires":[["24e28afd13b18788","60092246105896db","c5e616a1cd8aab3d","2fc4f668780f2e82","bc6c330fc895d3bc","f93925e12417c5ad","5c0e066a12ec442c","dbbe515f38fa8b69","85488838f9334c20","47c311a3e406169a","01cfa2e6011fdf43","532dde78a4ba8698","aa774689f970888e","367d271d52a39ef8","9726b70b8045fbfe","e76056a560d7752b"]]},{"id":"0f2eaff60761f5f3","type":"function","z":"daf3c6940759d226","name":"Pool","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 7-9\nconst part2 = s.slice(5, 7); // chars 5-7\nconst part3 = s.slice(11, 13); // chars 11-13\nconst part4 = s.slice(9, 11); // chars 9-11\nconst part5 = s.slice(25, 27); // chars 25-27\nconst part6 = s.slice(23, 25); // chars 23-25\nconst part7 = s.slice(29,31); // chars 29-31\nconst part8 = s.slice(25,27); // chars 25-27\n\nmsg.templow = (((parseInt(part1 + part2, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.temphigh = (((parseInt(part3 + part4, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.tempcurrent = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.tempbatt = (parseInt(part7 + part8, 16) / 4095 * 100).toFixed(0);\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":2440,"wires":[["24e28afd13b18788","8cb809d6298338b8","b4f5a750758c088f","36b70886e40dba1f","37ec9e107a8dcc9f","0ce4786d0825ba92","6eb15d18017a1820","44a4afc6f0425cde","fa495efc583da735","9049f6e69693f9f4"]]},{"id":"cf8e1bbd16760550","type":"function","z":"daf3c6940759d226","name":"Flowmeter HCS008FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(49, 51); // chars 49-51\nconst part2 = s.slice(47, 49); // chars 47-49\nconst part3 = s.slice(45, 47); // chars 45-47\nconst part4 = s.slice(59, 61); // chars 59-61\nconst part5 = s.slice(57, 59); // chars 57-59\nconst part6 = s.slice(55, 57); // chars 55-57\nconst part7 = s.slice(69, 71); // chars 69-71\nconst part8 = s.slice(67, 69); // chars 67-69\nconst part9 = s.slice(65, 67); // chars 65-67\nconst part10 = s.slice(81, 83); // chars 81-83\nconst part11 = s.slice(79, 81); // chars 79-81\nconst part12 = s.slice(77, 79); // chars 77-79\nconst part13 = s.slice(91, 93); // chars 91-93\nconst part14 = s.slice(89, 91); // chars 89-91\nconst part15 = s.slice(87, 89); // chars 87-89\nconst part16 = s.slice(103, 105); // chars 103-105\nconst part17 = s.slice(101, 103); // chars 101-103\nconst part18 = s.slice(99, 101); // chars 99-101\nconst part19 = s.slice(97, 99); // chars 97-99\nconst part20 = s.slice(107,109); // chars 107-109\nconst part21 = s.slice(109,111); // chars 109-111\n\nmsg.flowcurrentused = parseInt(part1 + part2 + part3, 16) / 10;\nmsg.flowcurrenduration = parseInt(part4 + part5 + part6, 16);\nmsg.flowlastused = parseInt(part7 + part8 + part9, 16) / 10;\nmsg.flowlastusedduration = parseInt(part10 + part11 + part12, 16);\nmsg.flowtotaltoday = parseInt(part13 + part14 + part15, 16) / 10;\nmsg.flowtotal = parseInt(part16 + part17 + part18 + part19, 16) / 10;\nmsg.flowbatt = (parseInt(part20 + part21, 16) / 4095 * 100).toFixed(0);\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":760,"wires":[["db4d866aba2f315d","36dbc436b0e09090","857f70b427233e8b","9d30e184dd416d6c","3619d9c0d1ce8b33","5fed1863da6238c8","7f697f62a157a702","d6a3d6577f713d27","68fc7a1c1c90c7c2","345c632e3e156360","87651988379e8b28","24e28afd13b18788","812a65e3eb3d641e","c3cdff7dd6f3fd95","a81e0b3161c39919","d2b35e1b7bf8ee5f"]]},{"id":"24e28afd13b18788","type":"delay","z":"daf3c6940759d226","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3140,"y":1400,"wires":[["c0894917e18faeb5"]]},{"id":"2e66f3e1da19f250","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Temperature","func":"var topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\",\n    \"unique_id\": msg.sensordid + \" Temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":120,"wires":[["c1dd210b80f6aa4a"]]},{"id":"c1dd210b80f6aa4a","type":"mqtt out","z":"daf3c6940759d226","name":"MQTT Out Discovery","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e3d021255c91be6","x":2900,"y":1340,"wires":[]},{"id":"6b2827399468da59","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.soiltemp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":160,"wires":[["1c0f95eff027a619"]]},{"id":"abd5c50ad2b3951c","type":"mqtt out","z":"daf3c6940759d226","name":"MQTT Out State","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e3d021255c91be6","x":2900,"y":1520,"wires":[]},{"id":"5bfd686ce54e47be","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unique_id\": msg.sensordid + \" Moisture\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":200,"wires":[["c1dd210b80f6aa4a"]]},{"id":"6faa4e7ac52a0d1f","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.soilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":240,"wires":[["1c0f95eff027a619"]]},{"id":"1c0f95eff027a619","type":"delay","z":"daf3c6940759d226","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2690,"y":1520,"wires":[["abd5c50ad2b3951c"]]},{"id":"84cf90a04b58c02d","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Lux","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Lux\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\",\n    \"unique_id\": msg.sensordid + \" Lux\",\n    \"unit_of_measurement\": \"lx\",\n    \"value_template\": \"{{ value_json.lux }}\",\n    \"device_class\": \"illuminance\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":280,"wires":[["c1dd210b80f6aa4a"]]},{"id":"7e123629a05482ee","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Lux","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    lux: msg.soillux\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":320,"wires":[["1c0f95eff027a619"]]},{"id":"c5f19138e3345dc1","type":"debug","z":"daf3c6940759d226","name":"Count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1280,"wires":[]},{"id":"e4cb16db8ca1a20c","type":"function","z":"daf3c6940759d226","name":"function 17","func":"msg.count = msg.count + 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1300,"wires":[["c5f19138e3345dc1","118fd8980380ee09"]]},{"id":"ecac9fc5c6ea1a04","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unique_id\": msg.sensordid + \" total\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2270,"y":160,"wires":[["c1dd210b80f6aa4a"]]},{"id":"06870f4bbe4cdf2a","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.raintotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":200,"wires":[["1c0f95eff027a619"]]},{"id":"e5cc14a739a82c7a","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - 1hr","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 1hr\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\",\n    \"unique_id\": msg.sensordid + \" 1hr\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2270,"y":240,"wires":[["c1dd210b80f6aa4a"]]},{"id":"88d1839ccf58537b","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainhr\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":280,"wires":[["1c0f95eff027a619"]]},{"id":"ab67fbfbec8dbe5c","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - 24 Hours","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 24hrs\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\",\n    \"unique_id\": msg.sensordid + \" 24hrs\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":320,"wires":[["c1dd210b80f6aa4a"]]},{"id":"8418af431b190a89","type":"function","z":"daf3c6940759d226","name":"State Update Payload - 24 Hours","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":360,"wires":[["1c0f95eff027a619"]]},{"id":"82d177627ecb6e15","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - 7 Days","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 7days\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\",\n    \"unique_id\": msg.sensordid + \" 7days\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":400,"wires":[["c1dd210b80f6aa4a"]]},{"id":"8297bd2cd28e54d6","type":"function","z":"daf3c6940759d226","name":"State Update Payload - 7 Days","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainweek\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":440,"wires":[["1c0f95eff027a619"]]},{"id":"db4d866aba2f315d","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Current","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" current\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\",\n    \"unique_id\": msg.sensordid + \" current\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":560,"wires":[["c1dd210b80f6aa4a"]]},{"id":"36dbc436b0e09090","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Current","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrentused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":600,"wires":[["1c0f95eff027a619"]]},{"id":"857f70b427233e8b","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - CurrentDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\",\n    \"unique_id\": msg.sensordid + \" current_duration\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":640,"wires":[["c1dd210b80f6aa4a"]]},{"id":"3619d9c0d1ce8b33","type":"function","z":"daf3c6940759d226","name":"State Update Payload - CurrentDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrenduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":680,"wires":[["1c0f95eff027a619"]]},{"id":"9d30e184dd416d6c","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Last","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\",\n    \"unique_id\": msg.sensordid + \" last\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":720,"wires":[["c1dd210b80f6aa4a"]]},{"id":"c3cdff7dd6f3fd95","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Last","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":760,"wires":[["1c0f95eff027a619"]]},{"id":"5fed1863da6238c8","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - LastDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\",\n    \"unique_id\": msg.sensordid + \" last_duration\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":800,"wires":[["c1dd210b80f6aa4a"]]},{"id":"7f697f62a157a702","type":"function","z":"daf3c6940759d226","name":"State Update Payload - LastDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastusedduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":840,"wires":[["1c0f95eff027a619"]]},{"id":"68fc7a1c1c90c7c2","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotaltoday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":920,"wires":[["1c0f95eff027a619"]]},{"id":"d6a3d6577f713d27","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Total Today","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Today\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\",\n    \"unique_id\": msg.sensordid + \" today\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":880,"wires":[["c1dd210b80f6aa4a"]]},{"id":"87651988379e8b28","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1000,"wires":[["1c0f95eff027a619"]]},{"id":"345c632e3e156360","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unique_id\": msg.sensordid + \" total\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":960,"wires":[["c1dd210b80f6aa4a"]]},{"id":"088c2d076ab249f3","type":"function","z":"daf3c6940759d226","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.tempcurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1360,"wires":[["1c0f95eff027a619"]]},{"id":"60092246105896db","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unique_id\": msg.sensordid + \" current_temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1320,"wires":[["c1dd210b80f6aa4a"]]},{"id":"2fc4f668780f2e82","type":"function","z":"daf3c6940759d226","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.temphigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1440,"wires":[["1c0f95eff027a619"]]},{"id":"c5e616a1cd8aab3d","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unique_id\": msg.sensordid + \" high_temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1400,"wires":[["c1dd210b80f6aa4a"]]},{"id":"f93925e12417c5ad","type":"function","z":"daf3c6940759d226","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.templow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1520,"wires":[["1c0f95eff027a619"]]},{"id":"bc6c330fc895d3bc","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unique_id\": msg.sensordid + \" low_temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1480,"wires":[["c1dd210b80f6aa4a"]]},{"id":"5c0e066a12ec442c","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - CurrentHumidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\",\n    \"unique_id\": msg.sensordid + \" current_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1560,"wires":[["c1dd210b80f6aa4a"]]},{"id":"dbbe515f38fa8b69","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humiditycurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1600,"wires":[["1c0f95eff027a619"]]},{"id":"85488838f9334c20","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - High Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\",\n    \"unique_id\": msg.sensordid + \" high_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1640,"wires":[["c1dd210b80f6aa4a"]]},{"id":"47c311a3e406169a","type":"function","z":"daf3c6940759d226","name":"State Update Payload - High Humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humidityhigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1680,"wires":[["1c0f95eff027a619"]]},{"id":"01cfa2e6011fdf43","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Low Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\",\n    \"unique_id\": msg.sensordid + \" low_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1720,"wires":[["c1dd210b80f6aa4a"]]},{"id":"532dde78a4ba8698","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humiditylow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1760,"wires":[["1c0f95eff027a619"]]},{"id":"b4f5a750758c088f","type":"function","z":"daf3c6940759d226","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.tempcurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":2400,"wires":[["1c0f95eff027a619"]]},{"id":"8cb809d6298338b8","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unique_id\": msg.sensordid + \" current_temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":2360,"wires":[["c1dd210b80f6aa4a"]]},{"id":"37ec9e107a8dcc9f","type":"function","z":"daf3c6940759d226","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.temphigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":2480,"wires":[["1c0f95eff027a619"]]},{"id":"36b70886e40dba1f","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unique_id\": msg.sensordid + \" high_temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2440,"wires":[["c1dd210b80f6aa4a"]]},{"id":"6eb15d18017a1820","type":"function","z":"daf3c6940759d226","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.templow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":2560,"wires":[["1c0f95eff027a619"]]},{"id":"0ce4786d0825ba92","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unique_id\": msg.sensordid + \" low_temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":2520,"wires":[["c1dd210b80f6aa4a"]]},{"id":"d800a97f5f80a580","type":"credentials","z":"daf3c6940759d226","name":"","props":[{"value":"areaCode","type":"msg"},{"value":"phoneOrEmail","type":"msg"},{"value":"payload","type":"msg"},{"value":"appcode","type":"msg"}],"x":350,"y":620,"wires":[["f276c2df35680bef"]],"info":"Add the following details to  the credentials node:\r\n- msg.areaCode: Country dial code, i.e South Africa 27\r\n- msg.phoneOrEmail: Email address of linked account\r\n- msg.payload: Password"},{"id":"4cbba6a1cfebce8f","type":"debug","z":"daf3c6940759d226","name":"Linked Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"linkeddevices","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1060,"wires":[]},{"id":"c0894917e18faeb5","type":"switch","z":"daf3c6940759d226","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"linkeddevices","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3170,"y":1520,"wires":[["e4cb16db8ca1a20c"],["7f5f8632265bab3e"]]},{"id":"7f5f8632265bab3e","type":"switch","z":"daf3c6940759d226","name":"","property":"hubcount","propertyType":"msg","rules":[{"t":"lt","v":"linkedhubs","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3370,"y":1580,"wires":[["55050338094b14fa"],[]]},{"id":"55050338094b14fa","type":"function","z":"daf3c6940759d226","name":"function 19","func":"msg.count = - 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":1540,"wires":[["28d5515f2a16f0c5"]]},{"id":"22b8b25748ba90b5","type":"debug","z":"daf3c6940759d226","name":"Sensor Name","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorname","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1420,"wires":[]},{"id":"c072d84e24fb1e70","type":"switch","z":"daf3c6940759d226","name":"","property":"sensormodel","propertyType":"msg","rules":[{"t":"eq","v":"HCS021FRF","vt":"str"},{"t":"eq","v":"HCS012ARF","vt":"str"},{"t":"eq","v":"HCS008FRF","vt":"str"},{"t":"eq","v":"HCS0530THO","vt":"str"},{"t":"eq","v":"HCS014ARF","vt":"str"},{"t":"eq","v":"HCS026FRF","vt":"str"},{"t":"eq","v":"HCS0528ARF","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":1190,"y":1100,"wires":[["f6507abf43b34832"],["e97c0af3652f807d"],["cf8e1bbd16760550"],["98259302e8cc7ba5"],["92f227c1527b47d1"],["27eddb9f0a70e403"],["0f2eaff60761f5f3"],["9365e923ea853da6"]]},{"id":"98259302e8cc7ba5","type":"function","z":"daf3c6940759d226","name":"CO2 HCS0530THO","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 8-10\nconst part2 = s.slice(5, 7); // chars 6-8\nconst part3 = s.slice(53, 55); // chars 54-56\nconst part4 = s.slice(51, 53); // chars 52-54\nconst part5 = s.slice(57, 59); // chars 58-60\nconst part6 = s.slice(55, 57); // chars 56-58\nconst part7 = s.slice(35, 37); // chars 26-28\nconst part8 = s.slice(33, 35); // chars 24-26\nconst part9 = s.slice(39, 41); // chars 40-42\nconst part10 = s.slice(61, 63); // chars 62-64\nconst part11 = s.slice(59, 61); // chars 60-62\nconst part12 = s.slice(67, 69); // chars 68-70\n\nmsg.co2 = parseInt(part1 + part2, 16);\nmsg.co2low = parseInt(part3 + part4, 16);\nmsg.co2high = parseInt(part5 + part6, 16);\nmsg.co2temp = (((parseInt(part7 + part8, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.co2humidity = parseInt(part9, 16);\nmsg.co2batt = (parseInt(part10 + part11, 16) / 4095 * 100).toFixed(0);\nmsg.co2rssi = parseInt(part12, 16) - 256;\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":860,"wires":[["818fd73f01e2e2d9","8949d0c22da9f63b","5d230ec78d6dd3f0","3746a75a6ccb9c0c","d7529d9c0a092220","76ef98cf34aafd0c","f3a0c63cb96314d3","db7120064bc78c47","ffd3156b05fd9ccc","aae2c4d17722cd7a","24e28afd13b18788","4fd8ead1082c0ee1","2babcbcb2066fca8","10641053b8479e26"]]},{"id":"818fd73f01e2e2d9","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - co2temp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\",\n    \"unique_id\": msg.sensordid + \" temperature\",\n    \"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":920,"wires":[["c1dd210b80f6aa4a"]]},{"id":"8949d0c22da9f63b","type":"function","z":"daf3c6940759d226","name":"State Update Payload - co2temp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.co2temp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":960,"wires":[["1c0f95eff027a619"]]},{"id":"5d230ec78d6dd3f0","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - co2humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\",\n    \"unique_id\": msg.sensordid + \" humidty\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.humidity }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1000,"wires":[["c1dd210b80f6aa4a"]]},{"id":"3746a75a6ccb9c0c","type":"function","z":"daf3c6940759d226","name":"State Update Payload - co2humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    humidity: msg.co2humidity\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1040,"wires":[["1c0f95eff027a619"]]},{"id":"d7529d9c0a092220","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - co2","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\",\n    \"unique_id\": msg.sensordid + \" co2\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2270,"y":680,"wires":[["c1dd210b80f6aa4a"]]},{"id":"76ef98cf34aafd0c","type":"function","z":"daf3c6940759d226","name":"State Update Payload - co2","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":720,"wires":[["1c0f95eff027a619"]]},{"id":"f3a0c63cb96314d3","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - co2low","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 Low\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\",\n    \"unique_id\": msg.sensordid + \" co2_low\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":760,"wires":[["c1dd210b80f6aa4a"]]},{"id":"db7120064bc78c47","type":"function","z":"daf3c6940759d226","name":"State Update Payload - co2low","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2low\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":800,"wires":[["1c0f95eff027a619"]]},{"id":"ffd3156b05fd9ccc","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - co2high","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 High\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\",\n    \"unique_id\": msg.sensordid + \" co2_high\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":840,"wires":[["c1dd210b80f6aa4a"]]},{"id":"aae2c4d17722cd7a","type":"function","z":"daf3c6940759d226","name":"State Update Payload - co2high","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2high\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":880,"wires":[["1c0f95eff027a619"]]},{"id":"27eddb9f0a70e403","type":"function","z":"daf3c6940759d226","name":"Soil Moisture HCS026FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\nconst part2 = s.slice(19,21); // chars 19-21\nconst part3 = s.slice(17,19); // chars 17-19\n\nmsg.digitalsoilmoisture = parseInt(part1, 16);\nmsg.digitalsoilbatt = (parseInt(part2 + part3, 16)  / 4095 * 100).toFixed(0);\nmsg.debugvalue = msg.sensorstatus.data.subDeviceStatus[arraycount].value;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":2020,"wires":[["24e28afd13b18788","46a6e23a1d90664e","9d81070dd4208d23","e4ff7b9763282640","fe3a2b1c4b12d448","6b1ab039800bda43"]]},{"id":"46a6e23a1d90664e","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unique_id\": msg.sensordid + \" moisture\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS026FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2020,"wires":[["c1dd210b80f6aa4a"]]},{"id":"9d81070dd4208d23","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.digitalsoilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":2060,"wires":[["1c0f95eff027a619"]]},{"id":"aa774689f970888e","type":"switch","z":"daf3c6940759d226","name":"","property":"tempcurrent","propertyType":"msg","rules":[{"t":"btwn","v":"-40","vt":"num","v2":"60","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1400,"wires":[["088c2d076ab249f3"]]},{"id":"2d6385801e33124f","type":"debug","z":"daf3c6940759d226","name":"All Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"alldata","targetType":"msg","statusVal":"","statusType":"auto","x":1680,"y":1160,"wires":[]},{"id":"9365e923ea853da6","type":"function","z":"daf3c6940759d226","name":"Data for Non Supported Sensors","func":"const arraycount = msg.count;\nmsg.alldata = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1160,"wires":[["24e28afd13b18788","2d6385801e33124f"]]},{"id":"295db8f3a2effb29","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"var topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" Debug\",\n    //\"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    //\"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":40,"wires":[["c1dd210b80f6aa4a"]]},{"id":"0615995664a08604","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":80,"wires":[["1c0f95eff027a619"]]},{"id":"36c254f64a6b1e73","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":160,"wires":[["295db8f3a2effb29","0615995664a08604"]]},{"id":"f27879317953b654","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":360,"wires":[["c1dd210b80f6aa4a"]]},{"id":"ef6af5e18f222c8e","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Battery","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.soilbatt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":400,"wires":[["1c0f95eff027a619"]]},{"id":"b150ed5e39e6e1f9","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1990,"y":180,"wires":[["76af1c32dc8fa71c","b212337d95845998"]]},{"id":"76af1c32dc8fa71c","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" debug\",\n    //\"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    //\"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":80,"wires":[["c1dd210b80f6aa4a"]]},{"id":"b212337d95845998","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":120,"wires":[["1c0f95eff027a619"]]},{"id":"001ed64b11fd44c0","type":"function","z":"daf3c6940759d226","d":true,"name":"Discovery Payload - Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":480,"wires":[["c1dd210b80f6aa4a"]]},{"id":"ba017523386d7be6","type":"function","z":"daf3c6940759d226","d":true,"name":"State Update Payload - Battery","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.rainbatt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":520,"wires":[["1c0f95eff027a619"]]},{"id":"812a65e3eb3d641e","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":660,"wires":[["781e166d7a0cae9d","830172d8a51ad2df"]]},{"id":"781e166d7a0cae9d","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" debug\",\n    //\"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    //\"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":480,"wires":[["c1dd210b80f6aa4a"]]},{"id":"830172d8a51ad2df","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":520,"wires":[["1c0f95eff027a619"]]},{"id":"a81e0b3161c39919","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1040,"wires":[["c1dd210b80f6aa4a"]]},{"id":"d2b35e1b7bf8ee5f","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Battery","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.flowbatt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1080,"wires":[["1c0f95eff027a619"]]},{"id":"4fd8ead1082c0ee1","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1990,"y":760,"wires":[["07aa7b2fc6eb9639","e9f7423b7a2debfd"]]},{"id":"07aa7b2fc6eb9639","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" debug\",\n    //\"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    //\"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2280,"y":600,"wires":[["c1dd210b80f6aa4a"]]},{"id":"e9f7423b7a2debfd","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":640,"wires":[["1c0f95eff027a619"]]},{"id":"2babcbcb2066fca8","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - CO2 Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1080,"wires":[["c1dd210b80f6aa4a"]]},{"id":"10641053b8479e26","type":"function","z":"daf3c6940759d226","name":"State Update Payload - co2 Batteryy","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.co2batt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":1120,"wires":[["1c0f95eff027a619"]]},{"id":"367d271d52a39ef8","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1320,"wires":[["ca01e62bb4f6ddec","5dc7758f76689dea"]]},{"id":"5dc7758f76689dea","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1280,"wires":[["1c0f95eff027a619"]]},{"id":"ca01e62bb4f6ddec","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" debug\",\n    //\"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    //\"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1240,"wires":[["c1dd210b80f6aa4a"]]},{"id":"9726b70b8045fbfe","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1800,"wires":[["c1dd210b80f6aa4a"]]},{"id":"e76056a560d7752b","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Battery","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.tempbatt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1840,"wires":[["1c0f95eff027a619"]]},{"id":"e4ff7b9763282640","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":1940,"wires":[["2d34f7f6d6cd3289","cec7fd4ee46c1f70"]]},{"id":"2d34f7f6d6cd3289","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" debug\",\n    //\"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    //\"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS026FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":1940,"wires":[["c1dd210b80f6aa4a"]]},{"id":"cec7fd4ee46c1f70","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1980,"wires":[["1c0f95eff027a619"]]},{"id":"6b1ab039800bda43","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Battery","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.digitalsoilbatt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":2140,"wires":[["1c0f95eff027a619"]]},{"id":"fe3a2b1c4b12d448","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS026FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2100,"wires":[["c1dd210b80f6aa4a"]]},{"id":"44a4afc6f0425cde","type":"switch","z":"daf3c6940759d226","name":"Debug","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":2340,"wires":[["78768a7f4d471b1e","2319181b19b8a0de"]]},{"id":"2319181b19b8a0de","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Debug","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    debug: msg.debugvalue\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":2320,"wires":[["1c0f95eff027a619"]]},{"id":"78768a7f4d471b1e","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Debug","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Debug\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/debug/state\",\n    \"unique_id\": msg.sensordid + \" debug\",\n    //\"unit_of_measurement\": \"째C\",\n    \"value_template\": \"{{ value_json.debug }}\",\n    // \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2280,"wires":[["c1dd210b80f6aa4a"]]},{"id":"9049f6e69693f9f4","type":"function","z":"daf3c6940759d226","name":"State Update Payload - Battery","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    battery: msg.tempbatt\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":2640,"wires":[["1c0f95eff027a619"]]},{"id":"fa495efc583da735","type":"function","z":"daf3c6940759d226","name":"Discovery Payload - Battery","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Battery\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/battery/state\",\n    \"unique_id\": msg.sensordid + \" battery\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.battery }}\",\n    \"device_class\": \"battery\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":2600,"wires":[["c1dd210b80f6aa4a"]]},{"id":"7e3d021255c91be6","type":"mqtt-broker","name":"MQTT Place Holder","broker":"10.0.0.179","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1f45d7532a9b4f61","type":"global-config","env":[],"modules":{"node-red-contrib-crypto-js":"0.1.1","node-red-contrib-random-string":"0.0.1","node-red-contrib-credentials":"0.2.3"}}]
