rainpoint_flows.json
[{"id":"ff5e1cb23e2e5c65","type":"tab","label":"RainPoint SA - Rainpoint","disabled":false,"info":"","env":[]},{"id":"e5e51da6b192ed71","type":"inject","z":"ff5e1cb23e2e5c65","name":"Credentials","props":[{"p":"areaCode","v":"","vt":"str"},{"p":"phoneOrEmail","v":"","vt":"str"},{"p":"payload"},{"p":"count","v":"-1","vt":"num"},{"p":"hubcount","v":"-1","vt":"num"}],"repeat":"120","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":560,"wires":[["b09817ac20aa3fe2"]]},{"id":"09f58a494988b914","type":"http request","z":"ff5e1cb23e2e5c65","name":"Hamgar Login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com/auth/basic/app/login","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"}],"x":640,"y":700,"wires":[["ca948b4a6e05bfd2","026a70cdac89c593"]]},{"id":"c86cbeadf370d21b","type":"http request","z":"ff5e1cb23e2e5c65","name":"Hamgar Get Home","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://region3.homgarus.com:1443/app/member/appHome/list","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":650,"y":820,"wires":[["c4d347f1d0190bf6","ffdcb0014d0dceb1"]]},{"id":"424368aff7d8fe63","type":"http request","z":"ff5e1cb23e2e5c65","name":"Hamgar Devices","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":640,"y":940,"wires":[["2a9cabf908171580"]]},{"id":"ca948b4a6e05bfd2","type":"change","z":"ff5e1cb23e2e5c65","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"payload.data.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["c86cbeadf370d21b"]]},{"id":"7c39e610775dfb33","type":"http request","z":"ff5e1cb23e2e5c65","name":"Hamgar Get Device Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"lang","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"appCode","valueType":"other","valueValue":"2"},{"keyType":"other","keyValue":"auth","valueType":"msg","valueValue":"token"}],"x":680,"y":1120,"wires":[["e737f59d3be80914","2ff43ec5360cc511"]]},{"id":"0de78954f3fde920","type":"debug","z":"ff5e1cb23e2e5c65","name":"Home Hubs & Subs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"ffdcb0014d0dceb1","type":"function","z":"ff5e1cb23e2e5c65","name":"function 9","func":"msg.url = \"https://region3.homgarus.com/app/device/getDeviceByHid?hid=\" + msg.payload.data[0].hid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":880,"wires":[["424368aff7d8fe63"]]},{"id":"701c73d666dddefa","type":"function","z":"ff5e1cb23e2e5c65","name":"function 10","func":"msg.hubcount = msg.hubcount + 1\nmsg.linkedhubs = msg.devices.data.length - 1\nmsg.linkeddevices = msg.devices.data[msg.hubcount].subDevices.length -1;\nmsg.url = \"https://region3.homgarus.com/app/device/getDeviceStatus?mid=\" + msg.devices.data[msg.hubcount].mid;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1060,"wires":[["4d268c2a14e36505","7c39e610775dfb33"]]},{"id":"2a9cabf908171580","type":"change","z":"ff5e1cb23e2e5c65","name":"Devices","rules":[{"t":"set","p":"devices","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["701c73d666dddefa","0de78954f3fde920"]]},{"id":"229be48335f25c8c","type":"change","z":"ff5e1cb23e2e5c65","name":"","rules":[{"t":"set","p":"sensorstatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1240,"wires":[["ce9090a77a3c558b","f4178bb4602b9bd6"]]},{"id":"ce9090a77a3c558b","type":"debug","z":"ff5e1cb23e2e5c65","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorstatus","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1240,"wires":[]},{"id":"e5941d159c449d78","type":"function","z":"ff5e1cb23e2e5c65","name":"function 11","func":"msg.sensormodel = msg.devices.data[msg.hubcount].subDevices[msg.count].model\nmsg.sensordid = msg.devices.data[msg.hubcount].subDevices[msg.count].did\nmsg.sensorname = msg.devices.data[msg.hubcount].subDevices[msg.count].name\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1360,"wires":[["0c4cecc641261058","525b1ae81b697998","eea30724948c1d87","a4aa2665a3662d8d"]]},{"id":"eb0317abf430ee38","type":"function","z":"ff5e1cb23e2e5c65","name":"Soil Moisture HCS021FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(29, 31); // chars 27-28\nconst part2 = s.slice(27, 29); // chars 25-26\nconst part3 = s.slice(25, 26); // chars 23-24\nconst part4 = s.slice(21, 23); // chars 19-21\nconst part5 = s.slice(17, 19); // chars 15-17\nconst part6 = s.slice(15, 17); // chars 13-15\n\nmsg.soiltemp = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.soilmoisture = parseInt(part4, 16);\nmsg.soillux = parseInt(part1 + part2 + part3, 16);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":300,"wires":[["32ee5f2239d76c81","35a9707125abf7ba","f4c1c311b123ff17","c24a1d1584413924","d3f26061c5bc404a","480f72e1dea95176","31b35e424e3e5830"]]},{"id":"520c9ce16d560fc7","type":"function","z":"ff5e1cb23e2e5c65","name":"Rain Gauge HCS012ARF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\nconst part2 = s.slice(13, 15); // chars 13-15\nconst part3 = s.slice(23, 25); // chars 23-25\nconst part4 = s.slice(21, 23); // chars 21-23\nconst part5 = s.slice(31, 33); // chars 31-33\nconst part6 = s.slice(29, 31); // chars 29-31\nconst part7 = s.slice(41, 43); // chars 41-43\nconst part8 = s.slice(39, 41); // chars 39-41\n\nmsg.rainhr = parseInt(part1 + part2, 16) / 10;\nmsg.rainday = parseInt(part3 + part4, 16) / 10;\nmsg.rainweek = parseInt(part5 + part6, 16) / 10;\nmsg.raintotal = parseInt(part7 + part8, 16) / 10;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":600,"wires":[["32ee5f2239d76c81","d4ce1e756bb7e33e","beac096416994089","082b74b9f0a0b425","d0e2233a8dde05ee","ca873f6ee5139787","abd62189eba32212","52354381166522be","91010c56a91623c3"]]},{"id":"6d1c6934f6200f9b","type":"digest","z":"ff5e1cb23e2e5c65","name":"","algorithm":"MD5","x":330,"y":680,"wires":[["3fb63dfbfe70534c"]]},{"id":"7a13d79b6e64488a","type":"function","z":"ff5e1cb23e2e5c65","name":"function 12","func":"const areaCode = msg.areaCode;\nconst phoneOrEmail = msg.phoneOrEmail;\nconst password = msg.password;\nconst deviceId = msg.deviceId;\nmsg.payload = { \"areaCode\": areaCode, \"phoneOrEmail\": phoneOrEmail, \"password\": password, \"deviceId\": deviceId }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["09f58a494988b914"]]},{"id":"59268244661647da","type":"random-string","z":"ff5e1cb23e2e5c65","size":16,"characters":"0123456789ABCDEF","property":"payload","x":360,"y":800,"wires":[["7f1f9279a0e042bf"]]},{"id":"3fb63dfbfe70534c","type":"change","z":"ff5e1cb23e2e5c65","name":"","rules":[{"t":"set","p":"password","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["59268244661647da"]]},{"id":"7f1f9279a0e042bf","type":"change","z":"ff5e1cb23e2e5c65","name":"","rules":[{"t":"set","p":"deviceId","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[["7a13d79b6e64488a"]]},{"id":"c4d347f1d0190bf6","type":"debug","z":"ff5e1cb23e2e5c65","name":"Home Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":820,"wires":[]},{"id":"2ff43ec5360cc511","type":"debug","z":"ff5e1cb23e2e5c65","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1180,"wires":[]},{"id":"e737f59d3be80914","type":"function","z":"ff5e1cb23e2e5c65","name":"function 16","func":"// Sort function to sort objects by id\nmsg.payload.data.subDeviceStatus.sort((a, b) => {\n    if (a.id < b.id) return -1;\n    if (a.id > b.id) return 1;\n    return 0;\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1180,"wires":[["2ff43ec5360cc511","229be48335f25c8c"]]},{"id":"026a70cdac89c593","type":"debug","z":"ff5e1cb23e2e5c65","name":"Login Details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":700,"wires":[]},{"id":"0c4cecc641261058","type":"debug","z":"ff5e1cb23e2e5c65","name":"Sensor Model","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensormodel","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1340,"wires":[]},{"id":"525b1ae81b697998","type":"debug","z":"ff5e1cb23e2e5c65","name":"Sensor ID","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensordid","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1380,"wires":[]},{"id":"8cc8af4e998e9094","type":"function","z":"ff5e1cb23e2e5c65","name":"Temperature HCS014ARF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 7-9\nconst part2 = s.slice(5, 7); // chars 5-7\nconst part3 = s.slice(11, 13); // chars 11-13\nconst part4 = s.slice(9, 11); // chars 9-11\nconst part5 = s.slice(25, 27); // chars 25-27\nconst part6 = s.slice(23, 25); // chars 23-25\nconst part7 = s.slice(29, 31); // chars 29-31\nconst part8 = s.slice(35, 37); // chars 35-37\nconst part9 = s.slice(33, 35); // chars 33-35\n\nmsg.templow = (((parseInt(part1 + part2, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.temphigh = (((parseInt(part3 + part4, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.tempcurrent = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.humiditycurrent = parseInt(part7, 16);\nmsg.humidityhigh = parseInt(part8, 16);\nmsg.humiditylow = parseInt(part9, 16);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":1960,"wires":[["32ee5f2239d76c81","2c43abc91a313080","47bb1d54c77a0dea","dd799f577b2df7d1","41a112729cfd70a7","fb37b190dc28c980","d2b7661557353826","e2082acf9d339811","742fb5bd2fa5c9dd","32f6da091d9f02b7","b6738af8620b91c9","c24805f6b56bbc23","da2da5659763367b"]]},{"id":"eab9cde3e56b0d59","type":"function","z":"ff5e1cb23e2e5c65","name":"Pool","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 7-9\nconst part2 = s.slice(5, 7); // chars 5-7\nconst part3 = s.slice(11, 13); // chars 11-13\nconst part4 = s.slice(9, 11); // chars 9-11\nconst part5 = s.slice(25, 27); // chars 25-27\nconst part6 = s.slice(23, 25); // chars 23-25\n\nmsg.templow = (((parseInt(part1 + part2, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.temphigh = (((parseInt(part3 + part4, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.tempcurrent = (((parseInt(part5 + part6, 16) / 10) - 32) * (5 / 9)).toFixed(2);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":2460,"wires":[["32ee5f2239d76c81","fc283ab38d37696b","c86965a801831a40","fdd079efc710285c","be02867e18fa765c","22add3583e5394b5","b6d92ec40edc5c1c","07e61b3e1117f696","4e4740062be61281","1014a0a0b0e94c24"]]},{"id":"1ee2be91e5fd13e1","type":"function","z":"ff5e1cb23e2e5c65","name":"Flowmeter HCS008FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(49, 51); // chars 49-51\nconst part2 = s.slice(47, 49); // chars 47-49\nconst part3 = s.slice(45, 47); // chars 45-47\nconst part4 = s.slice(59, 61); // chars 59-61\nconst part5 = s.slice(57, 59); // chars 57-59\nconst part6 = s.slice(55, 57); // chars 55-57\nconst part7 = s.slice(69, 71); // chars 69-71\nconst part8 = s.slice(67, 69); // chars 67-69\nconst part9 = s.slice(65, 67); // chars 65-67\nconst part10 = s.slice(81, 83); // chars 81-83\nconst part11 = s.slice(79, 81); // chars 79-81\nconst part12 = s.slice(77, 79); // chars 77-79\nconst part13 = s.slice(91, 93); // chars 91-93\nconst part14 = s.slice(89, 91); // chars 89-91\nconst part15 = s.slice(87, 89); // chars 87-89\nconst part16 = s.slice(103, 105); // chars 103-105\nconst part17 = s.slice(101, 103); // chars 101-103\nconst part18 = s.slice(99, 101); // chars 99-101\nconst part19 = s.slice(97, 99); // chars 97-99\n\n\nmsg.flowcurrentused = parseInt(part1 + part2 + part3, 16) / 10;\nmsg.flowcurrenduration = parseInt(part4 + part5 + part6, 16);\nmsg.flowlastused = parseInt(part7 + part8 + part9, 16) / 10;\nmsg.flowlastusedduration = parseInt(part10 + part11 + part12, 16);\nmsg.flowtotaltoday = parseInt(part13 + part14 + part15, 16) / 10;\nmsg.flowtotal = parseInt(part16 + part17 + part18 + part19, 16) / 10;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1020,"wires":[["453311e509c73ed4","c0e5fe752e906e94","a8f1fad2d9fa3d04","ae76e14042ac87b3","e0729632d2dbc22b","bace0d144ff315eb","811a89975849c501","7c1f0454f260410c","14dca87cf210d7dc","8175a91b7b8d493f","817a6730cab1d062","944128134b734e02","32ee5f2239d76c81"]]},{"id":"32ee5f2239d76c81","type":"delay","z":"ff5e1cb23e2e5c65","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3140,"y":1400,"wires":[["04e7430e8b99fec5"]]},{"id":"35a9707125abf7ba","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Temperature","func":"var topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\",\n    \"unique_id\": msg.sensordid + \" Temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":220,"wires":[["0dc7870ce7ebe08d"]]},{"id":"0dc7870ce7ebe08d","type":"mqtt out","z":"ff5e1cb23e2e5c65","name":"MQTT Out Discovery","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e3d021255c91be6","x":2520,"y":1140,"wires":[]},{"id":"f4c1c311b123ff17","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Temperature","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/temperature/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.soiltemp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":260,"wires":[["be0674fb1ce07a69"]]},{"id":"73bcead672ade0aa","type":"mqtt out","z":"ff5e1cb23e2e5c65","name":"MQTT Out State","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e3d021255c91be6","x":2700,"y":1520,"wires":[]},{"id":"c24a1d1584413924","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unique_id\": msg.sensordid + \" Moisture\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":300,"wires":[["0dc7870ce7ebe08d"]]},{"id":"d3f26061c5bc404a","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.soilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":340,"wires":[["be0674fb1ce07a69"]]},{"id":"be0674fb1ce07a69","type":"delay","z":"ff5e1cb23e2e5c65","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2490,"y":1520,"wires":[["73bcead672ade0aa"]]},{"id":"480f72e1dea95176","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Lux","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Lux\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\",\n    \"unique_id\": msg.sensordid + \" Lux\",\n    \"unit_of_measurement\": \"lx\",\n    \"value_template\": \"{{ value_json.lux }}\",\n    \"device_class\": \"illuminance\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS021FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":380,"wires":[["0dc7870ce7ebe08d"]]},{"id":"31b35e424e3e5830","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Lux","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lux/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    lux: msg.soillux\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":420,"wires":[["be0674fb1ce07a69"]]},{"id":"0d55ebb838f966c1","type":"debug","z":"ff5e1cb23e2e5c65","name":"Count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1280,"wires":[]},{"id":"f4178bb4602b9bd6","type":"function","z":"ff5e1cb23e2e5c65","name":"function 17","func":"msg.count = msg.count + 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1300,"wires":[["0d55ebb838f966c1","e5941d159c449d78"]]},{"id":"d4ce1e756bb7e33e","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unique_id\": msg.sensordid + \" total\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":480,"wires":[["0dc7870ce7ebe08d"]]},{"id":"beac096416994089","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.raintotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":520,"wires":[["be0674fb1ce07a69"]]},{"id":"082b74b9f0a0b425","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - 1hr","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 1hr\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\",\n    \"unique_id\": msg.sensordid + \" 1hr\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":560,"wires":[["0dc7870ce7ebe08d"]]},{"id":"d0e2233a8dde05ee","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/1hr/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainhr\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":600,"wires":[["be0674fb1ce07a69"]]},{"id":"ca873f6ee5139787","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - 24 Hours","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 24hrs\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\",\n    \"unique_id\": msg.sensordid + \" 24hrs\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":640,"wires":[["0dc7870ce7ebe08d"]]},{"id":"abd62189eba32212","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - 24 Hours","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/24hrs/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":680,"wires":[["be0674fb1ce07a69"]]},{"id":"52354381166522be","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - 7 Days","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" 7days\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\",\n    \"unique_id\": msg.sensordid + \" 7days\",\n    \"unit_of_measurement\": \"mm\",\n    \"value_template\": \"{{ value_json.precipitation }}\",\n    \"device_class\": \"precipitation\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS012ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":720,"wires":[["0dc7870ce7ebe08d"]]},{"id":"91010c56a91623c3","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - 7 Days","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/7days/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    precipitation: msg.rainweek\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":760,"wires":[["be0674fb1ce07a69"]]},{"id":"453311e509c73ed4","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Current","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" current\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\",\n    \"unique_id\": msg.sensordid + \" current\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":820,"wires":[["0dc7870ce7ebe08d"]]},{"id":"c0e5fe752e906e94","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Current","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/current/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrentused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":860,"wires":[["be0674fb1ce07a69"]]},{"id":"a8f1fad2d9fa3d04","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - CurrentDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\",\n    \"unique_id\": msg.sensordid + \" current_duration\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":900,"wires":[["0dc7870ce7ebe08d"]]},{"id":"e0729632d2dbc22b","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - CurrentDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currentduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowcurrenduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":940,"wires":[["be0674fb1ce07a69"]]},{"id":"ae76e14042ac87b3","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Last","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\",\n    \"unique_id\": msg.sensordid + \" last\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":980,"wires":[["0dc7870ce7ebe08d"]]},{"id":"bace0d144ff315eb","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Last","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/last/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastused\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1020,"wires":[["be0674fb1ce07a69"]]},{"id":"811a89975849c501","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - LastDuration","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Last Duration\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\",\n    \"unique_id\": msg.sensordid + \" last_duration\",\n    \"unit_of_measurement\": \"s\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"duration\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1060,"wires":[["0dc7870ce7ebe08d"]]},{"id":"7c1f0454f260410c","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - LastDuration","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lastduration/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowlastusedduration\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1100,"wires":[["be0674fb1ce07a69"]]},{"id":"8175a91b7b8d493f","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Total Today","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotaltoday\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1180,"wires":[["be0674fb1ce07a69"]]},{"id":"14dca87cf210d7dc","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Total Today","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Today\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/today/state\",\n    \"unique_id\": msg.sensordid + \" today\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1140,"wires":[["0dc7870ce7ebe08d"]]},{"id":"944128134b734e02","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Total","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    water: msg.flowtotal\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1260,"wires":[["be0674fb1ce07a69"]]},{"id":"817a6730cab1d062","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Total","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Total\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/total/state\",\n    \"unique_id\": msg.sensordid + \" total\",\n    \"unit_of_measurement\": \"L\",\n    \"value_template\": \"{{ value_json.water }}\",\n    \"device_class\": \"water\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS008FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1220,"wires":[["0dc7870ce7ebe08d"]]},{"id":"f5875a2dad0a5be6","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.tempcurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1780,"wires":[["be0674fb1ce07a69"]]},{"id":"2c43abc91a313080","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unique_id\": msg.sensordid + \" current_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1740,"wires":[["0dc7870ce7ebe08d"]]},{"id":"dd799f577b2df7d1","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.temphigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1860,"wires":[["be0674fb1ce07a69"]]},{"id":"47bb1d54c77a0dea","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unique_id\": msg.sensordid + \" high_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1820,"wires":[["0dc7870ce7ebe08d"]]},{"id":"fb37b190dc28c980","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.templow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1940,"wires":[["be0674fb1ce07a69"]]},{"id":"41a112729cfd70a7","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unique_id\": msg.sensordid + \" low_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1900,"wires":[["0dc7870ce7ebe08d"]]},{"id":"d2b7661557353826","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - CurrentHumidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\",\n    \"unique_id\": msg.sensordid + \" current_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1980,"wires":[["0dc7870ce7ebe08d"]]},{"id":"e2082acf9d339811","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenthumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humiditycurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":2020,"wires":[["be0674fb1ce07a69"]]},{"id":"742fb5bd2fa5c9dd","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - High Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\",\n    \"unique_id\": msg.sensordid + \" high_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2060,"wires":[["0dc7870ce7ebe08d"]]},{"id":"32f6da091d9f02b7","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - High Humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/highhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humidityhigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2100,"wires":[["be0674fb1ce07a69"]]},{"id":"b6738af8620b91c9","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Low Humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\",\n    \"unique_id\": msg.sensordid + \" low_humidity\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS014ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2140,"wires":[["0dc7870ce7ebe08d"]]},{"id":"c24805f6b56bbc23","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Currenthumidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowhumidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.humiditylow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":2180,"wires":[["be0674fb1ce07a69"]]},{"id":"c86965a801831a40","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - CurrentTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.tempcurrent\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2400,"wires":[["be0674fb1ce07a69"]]},{"id":"fc283ab38d37696b","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - CurrentTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Current Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/currenttemp/state\",\n    \"unique_id\": msg.sensordid + \" current_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2360,"wires":[["0dc7870ce7ebe08d"]]},{"id":"be02867e18fa765c","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - HiTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.temphigh\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2480,"wires":[["be0674fb1ce07a69"]]},{"id":"fdd079efc710285c","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - HiTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" High Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/hitemp/state\",\n    \"unique_id\": msg.sensordid + \" high_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2440,"wires":[["0dc7870ce7ebe08d"]]},{"id":"b6d92ec40edc5c1c","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - LowTemp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.templow\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":2560,"wires":[["be0674fb1ce07a69"]]},{"id":"22add3583e5394b5","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - LowTemp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Low Temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/lowtemp/state\",\n    \"unique_id\": msg.sensordid + \" low_temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0528ARF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2520,"wires":[["0dc7870ce7ebe08d"]]},{"id":"b09817ac20aa3fe2","type":"credentials","z":"ff5e1cb23e2e5c65","name":"","props":[{"value":"areaCode","type":"msg"},{"value":"phoneOrEmail","type":"msg"},{"value":"payload","type":"msg"}],"x":350,"y":620,"wires":[["6d1c6934f6200f9b"]],"info":"Add the following details to  the credentials node:\r\n- msg.areaCode: Country dial code, i.e South Africa 27\r\n- msg.phoneOrEmail: Email address of linked account\r\n- msg.payload: Password"},{"id":"4d268c2a14e36505","type":"debug","z":"ff5e1cb23e2e5c65","name":"Linked Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"linkeddevices","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1060,"wires":[]},{"id":"04e7430e8b99fec5","type":"switch","z":"ff5e1cb23e2e5c65","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"linkeddevices","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3170,"y":1520,"wires":[["f4178bb4602b9bd6"],["c83b0e4f7d3f1e06"]]},{"id":"c83b0e4f7d3f1e06","type":"switch","z":"ff5e1cb23e2e5c65","name":"","property":"hubcount","propertyType":"msg","rules":[{"t":"lt","v":"linkedhubs","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3370,"y":1580,"wires":[["a61b143043bb69b3"],[]]},{"id":"a61b143043bb69b3","type":"function","z":"ff5e1cb23e2e5c65","name":"function 19","func":"msg.count = - 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3530,"y":1540,"wires":[["701c73d666dddefa"]]},{"id":"eea30724948c1d87","type":"debug","z":"ff5e1cb23e2e5c65","name":"Sensor Name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sensorname","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1420,"wires":[]},{"id":"a4aa2665a3662d8d","type":"switch","z":"ff5e1cb23e2e5c65","name":"","property":"sensormodel","propertyType":"msg","rules":[{"t":"eq","v":"HCS021FRF","vt":"str"},{"t":"eq","v":"HCS012ARF","vt":"str"},{"t":"eq","v":"HCS008FRF","vt":"str"},{"t":"eq","v":"HCS0530THO","vt":"str"},{"t":"eq","v":"HCS014ARF","vt":"str"},{"t":"eq","v":"HCS026FRF","vt":"str"},{"t":"eq","v":"HCS0528ARF","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":1190,"y":1100,"wires":[["eb0317abf430ee38"],["520c9ce16d560fc7"],["1ee2be91e5fd13e1"],["c89062023e490558"],["8cc8af4e998e9094"],["f36319a68f1c54dc"],["eab9cde3e56b0d59"],["7113aa62d198dd68"]]},{"id":"c89062023e490558","type":"function","z":"ff5e1cb23e2e5c65","name":"CO2 HCS0530THO","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(7, 9); // chars 8-10\nconst part2 = s.slice(5, 7); // chars 6-8\nconst part3 = s.slice(53, 55); // chars 54-56\nconst part4 = s.slice(51, 53); // chars 52-54\nconst part5 = s.slice(57, 59); // chars 58-60\nconst part6 = s.slice(55, 57); // chars 56-58\nconst part7 = s.slice(35, 37); // chars 26-28\nconst part8 = s.slice(33, 35); // chars 24-26\nconst part9 = s.slice(39, 41); // chars 40-42\nconst part10 = s.slice(61, 63); // chars 62-64\nconst part11 = s.slice(59, 61); // chars 60-62\nconst part12 = s.slice(67, 69); // chars 68-70\n\nmsg.co2 = parseInt(part1 + part2, 16);\nmsg.co2low = parseInt(part3 + part4, 16);\nmsg.co2high = parseInt(part5 + part6, 16);\nmsg.co2temp = (((parseInt(part7 + part8, 16) / 10) - 32) * (5 / 9)).toFixed(2);\nmsg.co2humidity = parseInt(part9, 16);\nmsg.co2battery = parseInt(part10 + part11, 16);\nmsg.co2rssi = parseInt(part12, 16) - 256;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1500,"wires":[["ca3c0d9689893176","999d1670bb41e0e8","73bb2b97fc0e64a3","6c620350be41de86","e9a63db7e93f65db","b337795f984c9c20","ae3a65c5e608bd55","4373fd192dc772ff","e1336154a34d1880","a539833a2989bc3f","32ee5f2239d76c81"]]},{"id":"ca3c0d9689893176","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - co2temp","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" temperature\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\",\n    \"unique_id\": msg.sensordid + \" temperature\",\n    \"unit_of_measurement\": \"°C\",\n    \"value_template\": \"{{ value_json.temperature }}\",\n    \"device_class\": \"temperature\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1560,"wires":[["0dc7870ce7ebe08d"]]},{"id":"999d1670bb41e0e8","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - co2temp","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2temp/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    temperature: msg.co2temp\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1600,"wires":[["be0674fb1ce07a69"]]},{"id":"73bb2b97fc0e64a3","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - co2humidity","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Humidity\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\",\n    \"unique_id\": msg.sensordid + \" humidty\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.humidity }}\",\n    \"device_class\": \"humidity\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1640,"wires":[["0dc7870ce7ebe08d"]]},{"id":"6c620350be41de86","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - co2humidity","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2humidity/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    humidity: msg.co2humidity\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1680,"wires":[["be0674fb1ce07a69"]]},{"id":"e9a63db7e93f65db","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - co2","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\",\n    \"unique_id\": msg.sensordid + \" co2\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":1320,"wires":[["0dc7870ce7ebe08d"]]},{"id":"b337795f984c9c20","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - co2","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1360,"wires":[["be0674fb1ce07a69"]]},{"id":"ae3a65c5e608bd55","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - co2low","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 Low\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\",\n    \"unique_id\": msg.sensordid + \" co2_low\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1400,"wires":[["0dc7870ce7ebe08d"]]},{"id":"4373fd192dc772ff","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - co2low","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2low/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2low\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1440,"wires":[["be0674fb1ce07a69"]]},{"id":"e1336154a34d1880","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - co2high","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" CO2 High\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\",\n    \"unique_id\": msg.sensordid + \" co2_high\",\n    \"unit_of_measurement\": \"ppm\",\n    \"value_template\": \"{{ value_json.co2 }}\",\n    \"device_class\": \"carbon_dioxide\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS0530THO\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1480,"wires":[["0dc7870ce7ebe08d"]]},{"id":"a539833a2989bc3f","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - co2high","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/co2high/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    co2: msg.co2high\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1520,"wires":[["be0674fb1ce07a69"]]},{"id":"f36319a68f1c54dc","type":"function","z":"ff5e1cb23e2e5c65","name":"Soil Moisture HCS026FRF","func":"const arraycount = msg.count;\nconst inputString = msg.sensorstatus.data.subDeviceStatus[arraycount].value\n\nlet s = (inputString ?? '').toString();\n\nconst part1 = s.slice(15, 17); // chars 15-17\n\nmsg.digitalsoilmoisture = parseInt(part1, 16);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":2240,"wires":[["32ee5f2239d76c81","830d04de4866b925","6883519c82e55cbe"]]},{"id":"830d04de4866b925","type":"function","z":"ff5e1cb23e2e5c65","name":"Discovery Payload - Moisture","func":"// Home Assistant MQTT Discovery Topic\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/config\";\n\n// Payload for discovery\nvar payload = {\n    \"name\": \"Rainpoint \" + msg.sensorname + \" Moisture\",\n    \"state_topic\": \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\",\n    \"unique_id\": msg.sensordid + \" moisture\",\n    \"unit_of_measurement\": \"%\",\n    \"value_template\": \"{{ value_json.moisture }}\",\n    \"device_class\": \"moisture\",\n    \"device\": {\n        \"identifiers\": [\n            \"rainpoint_\" + msg.sensordid\n        ],\n        \"name\": \"Rainpoint \" + msg.sensorname,\n        \"model\": \"HCS026FRF\",\n        \"manufacturer\": \"Rainpoint\"\n    }\n};\n\n// Publish discovery configuration\nmsg.topic = topic;\nmsg.payload = JSON.stringify(payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":2240,"wires":[["0dc7870ce7ebe08d"]]},{"id":"6883519c82e55cbe","type":"function","z":"ff5e1cb23e2e5c65","name":"State Update Payload - Moisture","func":"// State topic and payload\nvar topic = \"homeassistant/sensor/rainpoint\" + msg.sensordid + \"/moisture/state\";\n\n// Simulating sensor data\nvar sensorData = {\n    moisture: msg.digitalsoilmoisture\n};\n\n// Publish sensor state\nmsg.topic = topic;\nmsg.payload = JSON.stringify(sensorData);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":2280,"wires":[["be0674fb1ce07a69"]]},{"id":"da2da5659763367b","type":"switch","z":"ff5e1cb23e2e5c65","name":"","property":"tempcurrent","propertyType":"msg","rules":[{"t":"btwn","v":"-40","vt":"num","v2":"60","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":1820,"wires":[["f5875a2dad0a5be6"]]},{"id":"284b4ab5b1cde059","type":"debug","z":"ff5e1cb23e2e5c65","name":"All Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"alldata","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":1280,"wires":[]},{"id":"7113aa62d198dd68","type":"function","z":"ff5e1cb23e2e5c65","name":"Data for Non Supported Sensors","func":"const arraycount = msg.count;\nmsg.alldata = msg.sensorstatus.data.subDeviceStatus[arraycount].value\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1160,"wires":[["32ee5f2239d76c81","284b4ab5b1cde059"]]},{"id":"07e61b3e1117f696","type":"debug","z":"ff5e1cb23e2e5c65","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"templow","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":2640,"wires":[]},{"id":"4e4740062be61281","type":"debug","z":"ff5e1cb23e2e5c65","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"temphigh","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":2700,"wires":[]},{"id":"1014a0a0b0e94c24","type":"debug","z":"ff5e1cb23e2e5c65","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tempcurrent","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":2760,"wires":[]},{"id":"7e3d021255c91be6","type":"mqtt-broker","name":"MQTT Place Holder","broker":"192.168.1.50","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"457ffbd87214b8e6","type":"global-config","env":[],"modules":{"node-red-contrib-crypto-js":"0.1.1","node-red-contrib-random-string":"0.0.1","node-red-contrib-credentials":"0.2.3"}}]